@model DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="col-md-6 col-lg-12 col-xl-6">
    <div class="row">

        <form id="formDashboard" class="form-horizontal">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    </div>
                    <h2 class="panel-title">Filtro de pesquisa</h2>
                </header>
                <div class="panel-body">
                    <label class="col-sm-2 control-label text-right">Fomento:</label>
                    <div class="col-md-4 form-group">
                        <select class="form-control populate select2" name="ddlFomento" id="ddlFomento" style="width:100%"
                                asp-for="FomentoId" asp-items="Model.ListFomentos">
                            <option value="">Selecionar Fomento</option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label text-right">Estado:</label>
                    <div class="col-md-4 form-group">
                        <select class="form-control populate select2" name="ddlEstado" id="ddlEstado" style="width:100%"
                                asp-for="EstadoId" asp-items="Model.ListEstados">
                            <option value="">Selecionar Estado</option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label text-right">Municipio:</label>
                    <div class="col-md-4 form-group">
                        <select class="form-control populate select2" name="ddlMunicipio" id="ddlMunicipio" style="width:100%"
                                asp-for="MunicipioId" asp-items="Model.ListMunicipios">
                            <option value="">Selecionar Municipio</option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label text-right">Localidade:</label>
                    <div class="col-md-4 form-group">
                        <select class="form-control populate select2" name="ddlLocalidade" id="ddlLocalidade" style="width:100%"
                                asp-for="LocalidadeId" asp-items="Model.ListLocalidades">
                            <option value="">Selecionar Localidade</option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label text-right">Deficiencia:</label>
                    <div class="col-md-4 form-group">
                        <select class="form-control populate select2" name="ddlDeficiencia" id="ddlDeficiencia"
                                asp-for="DeficienciaId" asp-items="Model.ListDeficiencias">
                            <option value="">Selecionar Deficiência</option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label text-right">Etnia:</label>
                    <div class="col-md-4 form-group">
                        <select class="form-control populate select2" name="ddlEtnia" id="ddlEtnia" style="width:100%"
                                title="Por favor selecione um etnia."
                                asp-for="EtniaId" asp-items="Model.ListEtnias">
                            <option value="">Selecionar Etnia</option>
                        </select>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="button" class="btn btn-primary pull-right" style="margin-left: 5px;margin-right: 5px;"
                                    v-on:click="GetPesquisaDashboard()">
                                <i class="fa fa-search"></i> &nbsp;&nbsp;Pesquisar
                            </button>
                        </div>
                    </div>
                </footer>
            </section>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>

                <h2 class="panel-title">Indicadores</h2>
            </header>
            <div class="panel-body">

                <div class="col-md-4 col-xl-12">
                    <section class="panel">
                        <div class="panel-body bg-primary" style="background-color: #673AB7 !important">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon">
                                        <i class="fa fa-bar-chart"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Avaliações DNA do Brasil</h4>
                                        <div class="info">
                                            <strong class="amount"><label id="avaliacoesDna">@Model.Dashboard.AvaliacoesDna</label></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-4 col-xl-12">
                    <section class="panel">
                        <div class="panel-body bg-primary" style="background-color: #F44336 !important">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon">
                                        <i class="fa fa-file-text"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Laudos em andamento</h4>
                                        <div class="info">
                                            <strong class="amount"><label id="laudosAndamentos">@Model.Dashboard.LaudosAndamentos</label></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-4 col-xl-12">
                    <section class="panel">
                        <div class="panel-body bg-primary" style="background-color: #4CAF50 !important">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon">
                                        <i class="fa fa-check-square"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Laudos Finalizados</h4>
                                        <div class="info">
                                            <strong class="amount"><label id="laudosFinalizados">@Model.Dashboard.LaudosFinalizados</label></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-4 col-xl-12">
                    <section class="panel">
                        <div class="panel-body bg-primary" style="background-color: #3F51B5 !important">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon">
                                        <i class="fa fa-male"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Cadastros masculino</h4>
                                        <div class="info">
                                            <strong class="amount"><label id="cadastrosMasculinos">@Model.Dashboard.CadastrosMasculinos</label></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-4 col-xl-12">
                    <section class="panel">
                        <div class="panel-body bg-primary" style="background-color: #E91E63 !important">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon">
                                        <i class="fa fa-female"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Cadastros feminino</h4>
                                        <div class="info">
                                            <strong class="amount"><label id="cadastrosFemininos">@Model.Dashboard.CadastrosFemininos</label></></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-4 col-xl-12">
                    <section class="panel">
                        <div class="panel-body bg-primary" style="background-color: #2196F3 !important">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon">
                                        <i class="fa fa-users"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Alunos Cadastrados</h4>
                                        <div class="info">
                                            <strong class="amount"><label id="alunosCadastrados">@Model.Dashboard.AlunosCadastrados</label></></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-4 col-xl-12">
                    <section class="panel">
                        <div class="panel-body bg-primary" style="background-color: #3F51B5 !important">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon">
                                        <i class="fa fa-id-card"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Laudos Masculino</h4>
                                        <div class="info">
                                            <strong class="amount"><label id="laudosMasculinos">@Model.Dashboard.LaudosMasculinos</label></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-4 col-xl-12">
                    <section class="panel">
                        <div class="panel-body bg-primary" style="background-color: #E91E63 !important">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon">
                                        <i class="fa fa-id-card-o"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Laudos Feminino</h4>
                                        <div class="info">
                                            <strong class="amount"><label id="laudosFemininos">@Model.Dashboard.LaudosFemininos</label></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>

                <h2 class="panel-title">Controle de Presença</h2>
            </header>
            <div class="panel-body">
                <div id="containerPresenca"></div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-lg-5 col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>

                <h2 class="panel-title">Laudos</h2>
            </header>
            <div class="panel-body">
                <div id="containerLaudos"></div>
            </div>
        </section>
    </div>
    <div class="col-lg-7 col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>
                <h2 class="panel-title">Status dos Laudos</h2>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped mb-none">
                        <thead>
                            <tr>
                                <th>Laudos</th>
                                <th>Finalizados</th>
                                <th>Em Andamento</th>
                                <th>Progresso</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="label label-success" style="background-color: #d2322d !important">Saúde</span></td>
                                <td>
                                    <label id="totSaudeFinalizado">@Model.Dashboard.StatusLaudos.TotSaudeFinalizado</label>
                                </td>
                                <td>
                                    <label id="totSaudeAndamento">@Model.Dashboard.StatusLaudos.TotSaudeAndamento</label>
                                </td>
                                <td>
                                    <div class="progress progress-sm progress-half-rounded m-none mt-xs light">
                                        <div id="progressoSaude" class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @Model.Dashboard.StatusLaudos.ProgressoSaude%;">
                                            <label id="vlProgressoSaude">
                                                @Model.Dashboard.StatusLaudos.ProgressoSaude %
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="label label-success" style="background-color: #ed9c28 !important">Talento Esportivo</span></td>
                                <td>
                                    <label id="totTalentoEsportivoFinalizado">@Model.Dashboard.StatusLaudos.TotTalentoEsportivoFinalizado</label>
                                </td>
                                <td><label id="totTalentoEsportivoAndamento">@Model.Dashboard.StatusLaudos.TotTalentoEsportivoAndamento</label></td>
                                <td>
                                    <div class="progress progress-sm progress-half-rounded m-none mt-xs light">
                                        <div id="progressoTalentoEsportivo" class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @Model.Dashboard.StatusLaudos.ProgressoTalentoEsportivo%;">
                                            <label id="vlProgressoTalentoEsportivo">
                                                @Model.Dashboard.StatusLaudos.ProgressoTalentoEsportivo %
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="label label-warning" style="background-color: #47a447 !important">Consumo Alimentar</span></td>
                                <td>
                                    <label id="totConsumoAlimentarFinalizado">@Model.Dashboard.StatusLaudos.TotConsumoAlimentarFinalizado</label>
                                </td>
                                <td>
                                    <label id="totConsumoAlimentarAndamento">@Model.Dashboard.StatusLaudos.TotConsumoAlimentarAndamento</label>
                                </td>
                                <td>
                                    <div class="progress progress-sm progress-half-rounded m-none mt-xs light">
                                        <div id="progressoConsumoAlimentar" class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @Model.Dashboard.StatusLaudos.ProgressoConsumoAlimentar%;">
                                            <label id="vlProgressoConsumoAlimentar">@Model.Dashboard.StatusLaudos.ProgressoConsumoAlimentar %</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="label label-danger" style="background-color: #5bc0de !important">Saude Bucal</span></td>
                                <td>
                                    <label id="totSaudeBucalFinalizado">
                                        @Model.Dashboard.StatusLaudos.TotSaudeBucalFinalizado
                                    </label>
                                </td>
                                <td>
                                    <label id="totSaudeBucalAndamento">
                                        @Model.Dashboard.StatusLaudos.TotSaudeBucalAndamento
                                    </label>
                                </td>
                                <td>
                                    <div class="progress progress-sm progress-half-rounded m-none mt-xs light">
                                        <div id="progressoSaudeBucal" class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @Model.Dashboard.StatusLaudos.ProgressoSaudeBucal%;">
                                            <label id="vlProgressoSaudeBucal">
                                                @Model.Dashboard.StatusLaudos.ProgressoSaudeBucal %
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="label label-warning" style="background-color: #00a4a9 !important">Qualidade de vida</span></td>
                                <td>
                                    <label id="totQualidadeDeVidaFinalizado">
                                        @Model.Dashboard.StatusLaudos.TotQualidadeDeVidaFinalizado
                                    </label>
                                </td>
                                <td>
                                    <label id="totQualidadeDeVidaAndamento">
                                        @Model.Dashboard.StatusLaudos.TotQualidadeDeVidaAndamento
                                    </label>
                                </td>
                                <td>
                                    <div class="progress progress-sm progress-half-rounded m-none mt-xs light">
                                        <div id="progressoQualidadeDeVida" class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @Model.Dashboard.StatusLaudos.ProgressoQualidadeDeVida%;">
                                            <label id="vlProgressoQualidadeDeVida">
                                                @Model.Dashboard.StatusLaudos.ProgressoQualidadeDeVida %
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="label label-success" style="background-color: #a787c0 !important">Vocacional</span></td>
                                <td>
                                    <label id="totVocacionalFinalizado">
                                        @Model.Dashboard.StatusLaudos.TotVocacionalFinalizado
                                    </label>
                                </td>
                                <td>
                                    <label id="totVocacionalAndamento">
                                        @Model.Dashboard.StatusLaudos.TotVocacionalAndamento
                                    </label>
                                </td>
                                <td>
                                    <div class="progress progress-sm progress-half-rounded m-none mt-xs light">
                                        <div id="progressoVocacional" class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @Model.Dashboard.StatusLaudos.ProgressoVocacional%;">
                                            <label id="vlProgressoVocacional">
                                                @Model.Dashboard.StatusLaudos.ProgressoVocacional %
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>

                <h2 class="panel-title">Evolutivo - Desempenho Físico-Motor</h2>
            </header>
            <div class="panel-body">
                <div id="containerEvolutivo"></div>
            </div>
        </section>
    </div>
</div>


<div class="row">
    <div class="col-lg-5 col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>

                <h2 class="panel-title">Saúde (%)</h2>
                <p class="panel-subtitle">Percentual grafico de saúde dos alunos </p>
            </header>
            <div class="panel-body">
                <div id="containerSaudePercentual"></div>
            </div>
        </section>
    </div>
    <div class="col-lg-7 col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>

                <h2 class="panel-title">Saúde</h2>
                <p class="panel-subtitle">Totalizador de alunos por Sexo</p>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <div id="containerSaudeSexo"></div>

                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-lg-5 col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>

                <h2 class="panel-title">Talento Esportivo (%)</h2>
                <p class="panel-subtitle">Percentual grafico de talentos esportivos dos alunos </p>
            </header>
            <div class="panel-body">
                <div id="containerTalentoPercentual"></div>
            </div>
        </section>
    </div>
    <div class="col-lg-7 col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>

                <h2 class="panel-title">Talento Esportivo</h2>
                <p class="panel-subtitle">Totalizador de alunos por talento</p>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <div id="containerTalento"></div>

                </div>
            </div>
        </section>
    </div>
</div>


<div class="row">
    <div class="col-lg-5 col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>

                <h2 class="panel-title">Qualidade de Vida (%)</h2>
                <p class="panel-subtitle">Percentual grafico de qualidade de vida dos alunos </p>
            </header>
            <div class="panel-body">
                <div id="containerQualidadePercentual"></div>
            </div>
        </section>
    </div>
    <div class="col-lg-7 col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>

                <h2 class="panel-title">Qualidade de Vida</h2>
                <p class="panel-subtitle">Totalizador de alunos por qualidade de vida</p>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <div id="containerQualidade"></div>

                </div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-lg-5 col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>

                <h2 class="panel-title">Consumo Alimentar (%)</h2>
                <p class="panel-subtitle">Percentual grafico de consumo alimentar dos alunos </p>
            </header>
            <div class="panel-body">
                <div id="containerConsumoPercentual"></div>
            </div>
        </section>
    </div>
    <div class="col-lg-7 col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>

                <h2 class="panel-title">Consumo Alimentar</h2>
                <p class="panel-subtitle">Totalizador de alunos por consumo alimentar</p>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <div id="containerConsumo"></div>

                </div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-lg-5 col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>

                <h2 class="panel-title">Talento Vocacional (%)</h2>
                <p class="panel-subtitle">Percentual grafico de talento vocacional dos alunos </p>
            </header>
            <div class="panel-body">
                <div id="containerVocacionalPercentual"></div>
            </div>
        </section>
    </div>
    <div class="col-lg-7 col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>

                <h2 class="panel-title">Talento Vocacional</h2>
                <p class="panel-subtitle">Totalizador de alunos por talento vocacional</p>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <div id="containerTalentoVocacional"></div>

                </div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-lg-5 col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>

                <h2 class="panel-title">Desempenho Físico Motor (%)</h2>
                <p class="panel-subtitle">Percentual grafico de desempenho físico motor dos alunos </p>
            </header>
            <div class="panel-body">
                <div id="containerPercDesempenhoFisicoMotor"></div>
            </div>
        </section>
    </div>
    <div class="col-lg-7 col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>

                <h2 class="panel-title">Desempenho Físico Motor</h2>
                <p class="panel-subtitle">Totalizador de alunos por desempenho físico motor</p>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <div id="containerTotDesempenhoFisicoMotor"></div>

                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-lg-5 col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>

                <h2 class="panel-title">Deficiências (%)</h2>
                <p class="panel-subtitle">Percentual grafico de deficiências dos alunos </p>
            </header>
            <div class="panel-body">
                <div id="containerDeficienciaPercentual"></div>
            </div>
        </section>
    </div>
    <div class="col-lg-7 col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>

                <h2 class="panel-title">Deficiências</h2>
                <p class="panel-subtitle">Totalizador de alunos por deficiência</p>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <div id="containerDeficiencia"></div>

                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-lg-5 col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>

                <h2 class="panel-title">Etnias (%)</h2>
                <p class="panel-subtitle">Percentual grafico de etnias dos alunos </p>
            </header>
            <div class="panel-body">
                <div id="containerEtniaPercentual"></div>
            </div>
        </section>
    </div>
    <div class="col-lg-7 col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>

                <h2 class="panel-title">Etnia</h2>
                <p class="panel-subtitle">Totalizador de alunos por etnia</p>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <div id="containerEtnia"></div>

                </div>
            </div>
        </section>
    </div>
</div>

@section CssSpecificVendor {
    <link rel="stylesheet" href="~/assets/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
}
@section Scripts {
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/variable-pie.js"></script>
    <script src="~/assets/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/assets/vendor/select2/js/select2.js"></script>
    <script src="~/js/dahsboard.js"></script>
    <script>

        
        
        Highcharts.chart('containerVocacionalPercentual', {
            chart: {
                type: 'variablepie'
            },
            title: {
                text: undefined
            },
            tooltip: {
                headerFormat: '',
                pointFormat: '<span style="color:{point.color}">\u25CF</span> <b> {point.name}</b><br/>' +
                    '<b>{point.y} %</b> dos Alunos',
                style: {
                    fontSize: '12px'
                }
            },
            legend: {
                itemStyle: {
                    fontSize: '2px'
                }
            },
            plotOptions: {
                variablepie: {
                    dataLabels: {
                        enabled: true,
                        style: {
                            fontSize: '12px',
                            fontWeight: '400'
                        }
                    }
                }
            },
            series: [{
                minPointSize: 10,
                innerSize: '20%',
                zMin: 0,
                name: 'Percentual de talento vocacional dos alunos',
                borderRadius: 5,
                data: [{
                    name: 'Tecnologias Aplicadas',
                    y: 5,
                    z: 50
                }, {
                    name: 'Ciências Exatas e Naturais',
                    y: 20,
                    z: 50
                }, {
                    name: 'Artístico',
                    y: 20,
                    z: 50
                }, {
                    name: 'Ciências Humanas',
                    y: 30,
                    z: 50
                }, {
                    name: 'Empreendedorismo',
                    y: 10,
                    z: 50
                } , {
                    name: 'Ciências Contabeis e Administrativas',
                    y: 15,
                    z: 50
                }],
                colors: [
                    '#EF5350',
                    '#EC407A',
                    '#AB47BC',
                    '#7E57C2',
                    '#5C6BC0'
                ]
            }]
        });
        Highcharts.chart('containerTalentoVocacional', {
            chart: {
                type: 'bar'
            },
            title: {
                text: undefined
            },
            xAxis: {
                categories: ['Tecnologias Aplicadas', 'Ciências Exatas e Naturais', 'Artístico', 'Ciências Humanas', 'Empreendedorismo', 'Ciências Contabeis e Administrativas']
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Total'
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            series: [{
                name: 'Feminino',
                color: '#EC407A',
                data: [1, 0, 3, 0, 1, 2]
            }, {
                name: 'Masculino',
                data: [1, 1, 0, 2, 2, 4]
            }]
        });




        Highcharts.chart('containerEvolutivo', {
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            title: {
                text: undefined
            },

            yAxis: {
                title: {
                    text: undefined
                }
            },

            series: [{
                name: 'Velocidade',
                data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
                color: '#DAF7A6'
            }, {
                name: 'Flexibilidade muscular',
                data: [24916, 37941, 29742, 29851, 32490, 30282,
                    38121, 36885, 33726, 34243, 31050],
                color: '#FFC300'
            }, {
                name: 'Forca de membro superiores',
                data: [11744, 30000, 16005, 19771, 20185, 24377,
                    32147, 30912, 29243, 29213, 25663],
                color: '#FF5733'
            }, {
                name: 'Agilidade',
                data: [null, null, null, null, null, null, null,
                    null, 11164, 11218, 10077],
                color: '#900C3F'
            }, {
                name: 'Resistencia abdominal',
                data: [21908, 5548, 8105, 11248, 8989, 11816, 18274,
                    17300, 13053, 11906, 10073],
                color: '#581845'
            }]
        });
    </script>
}