@model ProfissionalModel
@{
	ViewData["Title"] = "Listagem de Profissionais";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="vProfissional">
	<div class="row">
		<div class="col-md-12">
			<form id="form" action="forms-validation.html" class="form-horizontal">
				<section class="panel">
					<header class="panel-heading">
						<div class="panel-actions">
							<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
						</div>

						<h2 class="panel-title">Filtro de pesquisa</h2>
					</header>
					<div class="panel-body">

						<label class="col-sm-1 control-label">Profissional</label>
						<div class="col-md-3 form-group">
							<input type="text" class="form-control">
						</div>

						<label class="col-sm-1 control-label" style="width: 12.499999995%">Cpf</label>
						<div class="col-md-3 form-group">
							<input type="text" class="form-control">
						</div>

						<label class="col-sm-2 control-label">Cadastros Ativos</label>
						<div class="col-md-1 form-group">
							<div class="switch switch-sm switch-primary">
								<div class="ios-switch on">
									<div class="on-background background-fill"></div>
									<div class="state-background background-fill"></div>
									<div class="handle"></div>
								</div>
								<input type="checkbox" name="switch" data-plugin-ios-switch="" style="display: none;">
							</div>
						</div>

						<label class="col-sm-2 control-label">Cadastro Habilitados</label>
						<div class="col-md-1 form-group">
							<div class="switch switch-sm switch-primary">
								<div class="ios-switch">
									<div class="on-background background-fill"></div>
									<div class="state-background background-fill"></div>
									<div class="handle"></div>
								</div>
								<input type="checkbox" name="switch" data-plugin-ios-switch="" checked="checked" style="display: none;">
							</div>
						</div>

					</div>
					<footer class="panel-footer">
						<div class="row">
							<div class="col-md-9 col-md-offset-3">
								<button type="submit" class="btn btn-primary pull-right" style="margin-left: 5px;margin-right: 5px;"><i class="fa fa-search"></i> &nbsp;&nbsp;Pesquisar</button>
							</div>
						</div>
					</footer>
				</section>
			</form>
		</div>
	</div>
	<section class="panel">
		<header class="panel-heading">
			<div class="panel-actions">
				<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
			</div>

			<h2 class="panel-title">Listagem de Profissionais</h2>

		</header>
		<div class="panel-body">
			<div class="form-group row">
				<div class="col-sm-12 pull-right">
					<a href="@Url.Action("Create", "Profissional")" id="addToTable" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Novo Profissional </a>
				</div>
			</div>
			<table class="table table-bordered table-striped mb-0" id="datatable-default">
				<thead>
					<tr>
						<th class="text-center">Id</th>
						<th class="text-center">Nome</th>
						<th class="text-center">Email</th>
						<th class="text-center">Status</th>
						<th class="text-center">Habilitado</th>
						<th class="text-center">Ações</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.Profissionais)
					{
						<tr>
							<td class="text-center" style="width:20px;">@Html.DisplayFor(modelItem => item.Id)</td>
							<td class="text-center">@Html.DisplayFor(modelItem => item.Nome)</td>
							<td class="text-center">@Html.DisplayFor(modelItem => item.Email)</td>
							@if (item.Status)
							{
								<td class="text-center"><span class="label label-success">ATIVO</span></td>
							}
							else
							{
								<td class="text-center"><span class="label label-danger">INATIVO</span></td>
							}
							@if (item.Habilitado)
							{
								<td class="text-center"><span class="label label-success">HABILITADO</span></td>
							}
							else
							{
								<td class="text-center"><span class="label label-danger">INABILITADO</span></td>
							}
                            <td class="actions text-center">
                                <a data-toggle="tooltip" data-placement="top" title="Editar" href='javascript:(crud.EditModal(@item.Id))'
                                   class="on-default edit-row" style='color: #FF9800'><i class="fa fa-pencil"></i></a>
								<a data-toggle="tooltip" data-placement="top" title="Habilitar Profissional" href='javascript:(crud.HabilitarModal(@item.Id))'
								   class="on-default remove-row" style="cursor: pointer;color: #7B1FA2"><i class="fa fa-check-circle"></i></a>
								<a data-toggle="tooltip" data-placement="top" title="Excluir" href='javascript:(crud.DeleteModal(@item.Id))'
								   class="on-default remove-row" style="cursor: pointer;color: #F44336"><i class="fa fa-trash"></i></a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</section>
<!-- Modal -->
<div class="modal fade" id="mdExcluir" tabindex="-1" role="dialog" aria-labelledby="mdExcluirLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="mdExcluirLabel">
					<i class="fa fa-trash"></i> &nbsp;&nbsp;<strong>Exclusão de Profissional</strong>
				</h5>
			</div>
			<div class="modal-body">
				<div class="modal-icon">
					<i class="fa fa-question-circle"></i>
				</div>
				<div class="modal-text">
					<p class="mb-0">Tem certeza que deseja <b>excluir</b> esse registro?</p>
				</div>
				<div class="modal-wrapper">
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-danger pull-right" style="margin-left: 5px;" data-dismiss="modal"><i class="fa fa-thumbs-o-down"></i> &nbsp;&nbsp;Não</button>
				<button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-thumbs-o-up"></i> &nbsp;&nbsp;Sim</button>
			</div>
		</div>
	</div>
</div>
	<!-- Modal -->
	<div class="modal fade" id="mdHabilitar" tabindex="-1" role="dialog" aria-labelledby="mdHabilitarLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="mdHabilitarLabel">
						<i class="fa fa-trash"></i> &nbsp;&nbsp;<strong>Habilitar Profissional</strong>
					</h5>
				</div>
				@using (@Html.BeginForm("Habilitar", "Profissional", FormMethod.Post, new { id = "formHabilitarProfissional", @class = "form-horizontal" }))
				{
					<input type="hidden" name="habilitarParceiroId" :value="editDto.Id" />

					<div class="modal-body">
						<div class="form-group row">
							<label class="col-sm-2 control-label text-sm-right pt-2">Email <span class="required">*</span></label>
							<div class="col-sm-10">
								<div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-envelope"></i>
									</span>
									@* v-on:blur="ExisteEmail" *@
									<input type="text" id="email" name="email"
										   class="form-control"
										   maxlength="100"
										   title="Por favor informe um Email válido do parceiro." required />
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-danger pull-right" style="margin-left: 5px;" data-dismiss="modal"><i class="fa fa-thumbs-o-down"></i> &nbsp;&nbsp;Não</button>
						<button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-thumbs-o-up"></i> &nbsp;&nbsp;Sim</button>
					</div>
				}
			</div>
		</div>
	</div>
</div>


@section CssSpecificVendor {
	<link rel="stylesheet" href="~/assets/vendor/datatables/media/css/dataTables.bootstrap4.css" />
}
@section Scripts {
	<script src="~/assets/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="~/assets/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
	<script src="~/js/formatTable.js"></script>
    <script src="~/js/profissional.js"></script>

	<script>

		(function ($) {

			'use strict';
			var crud = @ViewBag.CrudMessage;

			if (crud === 1) {
				new PNotify({
					title: 'Resposta',
					text: 'Cadastro realizado com sucesso!',
					type: 'success'
				});
			} else if (crud === 2) {
				new PNotify({
					title: 'Resposta',
					text: 'Dados alterados com sucesso.',
					type: 'warning'
				});
			} else if (crud === 3) {
				new PNotify({
					title: 'Resposta',
					text: 'Registro excluído com sucesso.',
					type: 'error'
				});
			}

			var notify = @ViewBag.NotifyMessage;
			var messagem = '@ViewBag.Notify';

			if (notify === 0) {
				new PNotify({
					title: 'Resposta',
					text: messagem,
					type: 'success'
				});
			} else if (notify === 1) {
				new PNotify({
					title: 'Resposta',
					text: messagem,
					type: 'warning'
				});
			} else if (notify === 2) {
				new PNotify({
					title: 'Resposta',
					text: messagem,
					type: 'error'
				});
			}

		}).apply(this, [jQuery]);
	</script>
}

