@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> _userManager
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApp.Models.ProfissionalModel
@{
    ViewData["Title"] = "Listagem de Profissionais";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="vProfissional">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    </div>
                    <h2 class="panel-title">Listagem de Profissionais</h2>
                </header>
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-sm-2 pull-right">
                            <a href="@Url.Action("Create", "Profissional")" id="addToTable" class="btn btn-block btn-primary pull-right"><i class="fa fa-plus"></i> &nbsp;&nbsp; Novo Profissional </a>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped mb-0" id="datatable-default">
                        <thead>
                            <tr>
                                <th class="text-center">Id</th>
                                <th class="text-center">Nome</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Cargo</th>
                                <th class="text-center">Localidade</th>
                                <th class="text-center" style="width: 10%;">Status</th>
                                <th class="text-center" style="width: 10%;">Habilitado</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Profissionais)
                            {
                                <tr>
                                    <td class="text-center" style="width:20px;">@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td class="text-center">@Html.DisplayFor(modelItem => item.Nome)</td>
                                    <td class="text-center">@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td class="text-center">@Html.DisplayFor(modelItem => item.Cargo)</td>
                                    <td class="text-center">@Html.DisplayFor(modelItem => item.Localidade)</td>
                                    @if (item.Status)
                                    {
                                        <td class="text-center"><span class="label label-success" style="display: block;">ATIVO</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-center"><span class="label label-danger" style="display: block;">INATIVO</span></td>
                                    }
                                    @if (item.Habilitado)
                                    {
                                        <td class="text-center"><span class="label label-success" style="display: block;">HABILITADO</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-center"><span class="label label-danger" style="display: block;">INABILITADO</span></td>
                                    }
                                    <td class="actions text-center">
                                        <a data-toggle="tooltip" data-placement="top" title="Editar" asp-action="Edit" asp-controller="Profissional" asp-route-Id="@item.Id" class="on-default edit-row" style='color: #FF9800'><i class="fa fa-pencil"></i></a>
                                        @* <a data-toggle="tooltip" data-placement="top" title="Habilitar Profissional" href='javascript:(crud.HabilitarModal(@item.Id))'
                                    class="on-default remove-row" style="cursor: pointer;color: #7B1FA2"><i class="fa fa-check-circle"></i></a> *@
                                        @{
                                            if (item.PossuiAlunosVinculados)
                                            {
                                                <a data-toggle="tooltip" data-placement="top" title="Desvincular Alunos" href='javascript:(crud.DesvincularAlunoModal(@item.Id))'
                                                   class="on-default remove-row" style="cursor: pointer;color: #7B1FA2"><i class="fa fa-unlink"></i></a>
                                            }
                                            <a data-toggle="tooltip" data-placement="top" title="Excluir" href='javascript:(crud.DeleteModal(@item.Id))'
                                               class="on-default remove-row" style="cursor: pointer;color: #F44336"><i class="fa fa-trash"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="mdDeleteProfissional" tabindex="-1" role="dialog" aria-labelledby="mdDeleteProfissionalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mdDeleteProfissionalLabel">
                        <i class="fa fa-trash"></i> &nbsp;&nbsp;<strong>Exclusão de Profissional</strong>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="modal-icon">
                        <i class="fa fa-question-circle"></i>
                    </div>
                    <div class="modal-text">
                        <input type="hidden" id="deleteProfissionalId" />
                        <p class="mb-0">Tem certeza que deseja <b>excluir</b> esse registro?</p>
                    </div>
                    <div class="modal-wrapper">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger pull-right" style="margin-left: 5px;" data-dismiss="modal"><i class="fa fa-thumbs-o-down"></i> &nbsp;&nbsp;Não</button>
                    <a id="deleteProfissionalHref" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-thumbs-o-up"></i> &nbsp;&nbsp;Sim</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="mdDesvincularAlunos" tabindex="-1" role="dialog" aria-labelledby="mdDesvincularAlunosLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mdDesvincularAlunosLabel">
                        <i class="fa fa-check-circle"></i> &nbsp;&nbsp;<strong>DesvincularAlunos</strong>&nbsp;&nbsp;<strong style="color: #f44336">EM DESENVOLVIMENTO</strong>
                    </h5>
                </div>
                @using (@Html.BeginForm("DesvincularAlunos", "Profissional", FormMethod.Post, new { id = "formDesvincularAlunos", @class = "form-horizontal" }))
                {
                    <input type="hidden" name="profissionalId" :value="editDto.ProfissionaId" />

                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-sm-3 control-label text-sm-right pt-2">Novo Profissional <span class="required">*</span></label>
                            <div class="col-sm-9">
                                <select class="form-control populate select2" name="ddlNovoProfissional" id="ddlNovoProfissional" style="width:100%"
                                        required title="Por favor selecione o coordenador"
                                        asp-for="ProfissionalId" asp-items="Model.ListProfissionals">
                                    <option value="">Selecionar Profissional</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="alert alert-success">
                                    <strong>Quantidade de alunos</strong> {{editDto.QuantidadeAlunos}}.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-danger pull-right" style="margin-left: 5px;" data-dismiss="modal"><i class="fa fa-remove"></i> &nbsp;&nbsp;Cancelar</button>
                        <button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section CssSpecificVendor {
    <link rel="stylesheet" href="~/assets/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/datatables/media/css/dataTables.bootstrap4.css" />
}
@section Scripts {
    <script src="~/assets/vendor/select2/js/select2.js"></script>
    <script src="~/assets/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/assets/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/ios7-switch/ios7-switch.js"></script>
    <script src="~/assets/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/formatTable.js"></script>
    <script src="~/js/Profissional.js"></script>

    <script>

        (function ($) {

            'use strict';
            var crub = @ViewBag.CrudMessage;

            if (crub === 1) {
                new PNotify({
                    title: 'Profissional',
                    text: 'Cadastro realizado com sucesso!',
                    type: 'success'
                });
                crub = 0;
            } else if (crub === 2) {
                new PNotify({
                    title: 'Profissional',
                    text: 'Dados alterados com sucesso.',
                    type: 'warning',
                    icon: 'fa fa-pencil'
                });
                crub = 0;
            } else if (crub === 3) {
                new PNotify({
                    title: 'Profissional',
                    text: 'Registro excluído com sucesso.',
                    type: 'error',
                    icon: 'fa fa-trash-o'
                });
                crub = 0;
            }


            var notify = @ViewBag.NotifyMessage;
            var messagem = '@ViewBag.Notify';

            if (notify === 0) {
                new PNotify({
                    title: 'Profissional',
                    text: messagem,
                    type: 'success'
                });
                crub = 0;
            } else if (notify === 1) {
                new PNotify({
                    title: 'Profissional',
                    text: messagem,
                    type: 'warning'
                });
                crub = 0;
            } else if (notify === 2) {
                new PNotify({
                    title: 'Profissional',
                    text: messagem,
                    type: 'error'
                });
                crub = 0;
            }

            if ($.isFunction($.fn['tooltip'])) {
                $('[data-toggle=tooltip],[rel=tooltip]').tooltip({ container: 'body' });
            }

        }).apply(this, [jQuery]);
    </script>
}



