@model ProfissionalModel
@{
    ViewData["Title"] = "Listagem de Profissionais";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <form id="form" action="forms-validation.html" class="form-horizontal">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    </div>

                    <h2 class="panel-title">Filtro de pesquisa</h2>
                </header>
                <div class="panel-body">

                    <label class="col-sm-1 control-label">Profissional</label>
                    <div class="col-md-3 form-group">
                        <input type="text" class="form-control">
                    </div>

                    <label class="col-sm-1 control-label" style="width: 12.499999995%">Cpf</label>
                    <div class="col-md-3 form-group">
                        <input type="text" class="form-control">
                    </div>

                    <label class="col-sm-2 control-label">Cadastros Ativos</label>
                    <div class="col-md-1 form-group">
                        <div class="switch switch-sm switch-primary">
                            <div class="ios-switch on">
                                <div class="on-background background-fill"></div>
                                <div class="state-background background-fill"></div>
                                <div class="handle"></div>
                            </div>
                            <input type="checkbox" name="switch" data-plugin-ios-switch="" style="display: none;">
                        </div>
                    </div>

                    <label class="col-sm-2 control-label">Cadastro Habilitados</label>
                    <div class="col-md-1 form-group">
                        <div class="switch switch-sm switch-primary">
                            <div class="ios-switch">
                                <div class="on-background background-fill"></div>
                                <div class="state-background background-fill"></div>
                                <div class="handle"></div>
                            </div>
                            <input type="checkbox" name="switch" data-plugin-ios-switch="" checked="checked" style="display: none;">
                        </div>
                    </div>

                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="submit" class="btn btn-primary pull-right" style="margin-left: 5px;margin-right: 5px;"><i class="fa fa-search"></i> &nbsp;&nbsp;Pesquisar</button>
                        </div>
                    </div>
                </footer>
            </section>
        </form>
    </div>
</div>

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
        </div>

        <h2 class="panel-title">Listagem de Profissionais</h2>

    </header>
    <div class="panel-body">
	    <div class="form-group row">
		    <div class="col-sm-12 pull-right">
			    <a href="@Url.Action("Create", "Profissional")" id="addToTable" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Novo Profissional </a>
		    </div>
	    </div>
        <table class="table table-bordered table-striped mb-0" id="datatable-default">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Habilitado</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Profissionais)
            {
                <tr>
                    <td class="text-center" style="width:20px;">@Html.DisplayFor(modelItem => item.Id)</td>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.Email)</td>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.Habilitado)</td>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.Status)</td>
                    <td class="text-center">
                        <a data-toggle="tooltip" data-placement="top" title="Editar" asp-action="Edit" asp-controller="Usuario" 
                           asp-route-Id="@item.Id" class="on-default edit-row" style='color: #FF9800'><i class="fa fa-pencil"></i></a>
                        <a data-toggle="tooltip" data-placement="top" title="Excluir" href='javascript:(crud.DeleteModal(@item.Id))'
                           class="on-default remove-row" style="cursor: pointer;color: #F44336"><i class="fa fa-trash"></i></a>

                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</section>



@section CssSpecificVendor {
    <link rel="stylesheet" href="~/assets/vendor/datatables/media/css/dataTables.bootstrap4.css" />
}
@section Scripts {
    <script src="~/assets/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/formatTable.js"></script>

    <script>

        (function ($) {

            'use strict';
            var crub = @ViewBag.CrudMessage;

            if (crub === 1) {
                new PNotify({
                    title: 'Profissionais',
                    text: 'Cadastro realizado com sucesso!',
                    type: 'success'
                });
            } else if (crub === 2) {
                new PNotify({
                    title: 'Profissionais',
                    text: 'Dados alterados com sucesso.',
                    type: 'warning',
                    icon: 'fa fa-pencil'
                });
            } else if (crub === 3) {
                new PNotify({
                    title: 'Profissionais',
                    text: 'Registro excluído com sucesso.',
                    type: 'error',
                    icon: 'fa fa-trash-o'
                });
            }
            if ($.isFunction($.fn['tooltip'])) {
                $('[data-toggle=tooltip],[rel=tooltip]').tooltip({ container: 'body' });
            }

        }).apply(this, [jQuery]);
    </script>
}

