@model ParceiroModel

@{
    ViewData["Title"] = "Listagem de Parceiros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="vParceiro">
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    </div>

                    <h2 class="panel-title">Filtro de pesquisa</h2>
                </header>
                <div class="panel-body">
                    <div class="form-group row">
                        <label class="col-sm-3 control-label">Parceiros</label>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label">&nbsp;&nbsp;</label>
                        <div class="col-md-12 form-group">
                            <div class="checkbox-custom chekbox-primary pull-right col-md-2">
                                <input id="for-project" value="project" type="checkbox" name="for[]" required />
                                <label for="for-project">Cadastro pendentes</label>
                            </div>
                            <div class="checkbox-custom chekbox-primary pull-right col-md-3">
                                <input id="for-project" value="project" type="checkbox" name="for[]" required />
                                <label for="for-project">Deficiências pendentes</label>
                            </div>
                            <div class="checkbox-custom chekbox-primary pull-right col-md-3">
                                <input id="for-project" value="project" type="checkbox" name="for[]" required />
                                <label for="for-project">Solicitações de contato</label>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="submit" class="btn btn-primary pull-right" style="margin-left: 5px;margin-right: 5px;"><i class="fa fa-search"></i> &nbsp;&nbsp;Pesquisar</button>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
            </div>

            <h2 class="panel-title">Listagem de Parceiros</h2>

        </header>
        <div class="panel-body">
            <div class="form-group row">
                <div class="col-sm-12 pull-right">
                    <a id="addToTable" href="@Url.Action("CreateParceiro", "SistemaSocioeconomico")"
                       class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Novo Parceiros </a>
                </div>
            </div>
            <table class="table table-bordered table-striped mb-0" id="datatable-default">
                <thead>
                    <tr>
						<th class="text-center">Id</th>
                        <th class="text-center">Instituiçao</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Solicitação Pendente?</th>
                        <th class="text-center">Status</th>
	                    <th class="text-center">Habilitado</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Parceiros)
                    {
                        <tr>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.Id)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.Nome)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.Email)</td>
                            @if (item.Alunos!.Any())
                            {
                                <td class="text-center"><span class="label label-danger">SIM</span></td>
                            }
                            else
                            {
                                <td class="text-center"><span class="label label-success">NÃO</span></td>
                            }
                            @if (item.Status)
                            {
                                <td class="text-center"><span class="label label-success">ATIVO</span></td>
                            }
                            else
                            {
                                <td class="text-center"><span class="label label-danger">INATIVO</span></td>
                            }
                            @if (item.Habilitado)
                            {
                                <td class="text-center"><span class="label label-success">HABILITADO</span></td>
                            }
                            else
                            {
                                <td class="text-center"><span class="label label-danger">INABILITADO</span></td>
                            }
                            <td class="actions text-center">
                                <a data-toggle="tooltip" data-placement="top" title="Editar" asp-action="EditParceiro" asp-controller="SistemaSocioeconomico"
                                   asp-route-Id="@item.Id" class="on-default edit-row" style='color: #FF9800'><i class="fa fa-pencil"></i></a>
                                @if (item.Alunos!.Any())
                                {
                                    <a data-toggle="tooltip" data-placement="top" title="Lista de alunos solicitados" href='javascript:(crud.PendentesModal(@item.Id))'
                                       class="on-default remove-row" style="cursor: pointer;color: #43A047 "><i class="fa fa-group"></i></a>
                                }
                                <a data-toggle="tooltip" data-placement="top" title="Habilitar Parceiro" href='javascript:(crud.HabilitarModal(@item.Id))'
                                   class="on-default remove-row" style="cursor: pointer;color: #7B1FA2"><i class="fa fa-check-circle"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Excluir" href='javascript:(crud.DeleteModal(@item.Id))'
                                   class="on-default remove-row" style="cursor: pointer;color: #F44336"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="mdDeleteParceiro" tabindex="-1" role="dialog" aria-labelledby="mdDeleteParceiroLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mdDeleteParceiroLabel">
                        <i class="fa fa-trash"></i> &nbsp;&nbsp;<strong>Exclusão de Parceiro</strong>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="modal-icon">
                        <i class="fa fa-question-circle"></i>
                    </div>
                    <div class="modal-text">
                        <input type="hidden" id="deleteParceiroId" />
                        <p class="mb-0">Tem certeza que deseja <b>excluir</b> esse registro?</p>
                    </div>
                    <div class="modal-wrapper">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger pull-right" style="margin-left: 5px;" data-dismiss="modal"><i class="fa fa-thumbs-o-down"></i> &nbsp;&nbsp;Não</button>
                    <a id="deleteParceiroHref" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-thumbs-o-up"></i> &nbsp;&nbsp;Sim</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="mdPendentes" tabindex="-1" role="dialog" aria-labelledby="mdPendentesLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mdPendentesLabel">
                        <i class="fa fa-trash"></i> &nbsp;&nbsp;<strong>Listagem de alunos solicitados</strong>
                    </h5>
                </div>
                <input type="hidden" name="editParceiroId" :value="editDto.Id" />
                <div class="modal-body">
                    <table id="alunosSolicitados" class="table table-responsive-md table-striped mb-0" style="width:100%">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Aluno</th>
                            <th>Idade</th>
                            <th>Açoes</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger pull-right" style="margin-left: 5px;" data-dismiss="modal"><i class="fa fa-remove"></i> &nbsp;&nbsp;Cancelar</button>
                    <a class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="mdHabilitarParceiro" tabindex="-1" role="dialog" aria-labelledby="mdHabilitarParceiroLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mdHabilitarParceiroLabel">
                        <i class="fa fa-check-circle"></i> &nbsp;&nbsp;<strong>Habilitar Parceiro</strong>
                    </h5>
                </div>
                @using (@Html.BeginForm("Habilitar", "SistemaSocioeconomico", FormMethod.Post, new { id = "formHabilitarParceiro", @class = "form-horizontal" }))
                {
                    <input type="hidden" name="habilitarParceiroId" :value="editDto.Id" />

                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-sm-2 control-label text-sm-right pt-2">Email <span class="required">*</span></label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    <input type="text" id="email" name="email"
                                           class="form-control"
                                           maxlength="100"
                                           title="Por favor informe um Email válido do Parceiro." required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-right" style="margin-left: 5px;" data-dismiss="modal"><i class="fa fa-remove"></i> &nbsp;&nbsp;Cancelar</button>
                        <button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section CssSpecificVendor {
    <link rel="stylesheet" href="~/assets/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/datatables/media/css/dataTables.bootstrap4.css" />
}
@section Scripts {
    <script src="~/assets/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/assets/vendor/select2/js/select2.js"></script>
    <script src="~/assets/vendor/jquery-mask/jquery.mask.js"></script>
    <script src="~/assets/vendor/ios7-switch/ios7-switch.js"></script>
    <script src="~/assets/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/formatTable.js"></script>
    <script src="~/js/parceiro.js"></script>

    <script>

        (function ($) {

            'use strict';
            var crub = @ViewBag.CrudMessage;

            if (crub === 1) {
                new PNotify({
                    title: 'Parceiro',
                    text: 'Cadastro realizado com sucesso!',
                    type: 'success'
                });
            } else if (crub === 2) {
                new PNotify({
                    title: 'Parceiro',
                    text: 'Dados alterados com sucesso.',
                    type: 'warning',
                    icon: 'fa fa-pencil'
                });
            } else if (crub === 3) {
                new PNotify({
                    title: 'Parceiro',
                    text: 'Registro excluído com sucesso.',
                    type: 'error',
                    icon: 'fa fa-trash-o'
                });
            }


            var notify = @ViewBag.NotifyMessage;
            var messagem = '@ViewBag.Notify';

            if (notify === 0) {
                new PNotify({
                    title: 'ControlePresenca',
                    text: messagem,
                    type: 'success'
                });
                crub = 0;
            } else if (notify === 1) {
                new PNotify({
                    title: 'ControlePresenca',
                    text: messagem,
                    type: 'warning'
                });
                crub = 0;
            } else if (notify === 2) {
                new PNotify({
                    title: 'ControlePresenca',
                    text: messagem,
                    type: 'error'
                });
                crub = 0;
            }
            if ($.isFunction($.fn['tooltip'])) {
                $('[data-toggle=tooltip],[rel=tooltip]').tooltip({ container: 'body' });
            }

        }).apply(this, [jQuery]);
    </script>
}



