@model AlunoModel

@{
    ViewData["Title"] = "Novo Aluno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="tabs">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#dados" data-toggle="tab">Dados</a>
                </li>
                <li>
                    <a href="#dependencias" data-toggle="tab">Dependências</a>
                </li>
                <li>
                    <a href="#matriculas" data-toggle="tab">Matrículas</a>
                </li>
                <li>
                    <a href="#ambientes" data-toggle="tab">Ambientes</a>
                </li>
                <li>
                    <a href="#vouchers" data-toggle="tab">Vouchers</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="dados" class="tab-pane active">
                    <div class="row">
                        <div class="col-md-12">
                        @using (@Html.BeginForm("CreateDados", "Aluno", FormMethod.Post, new { id = "formDadosAluno", @class = "form-horizontal" }))
                        {
                                <section class="panel">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">Foto</label>
	                                        <div class="col-sm-4">
		                                        <div class="fileupload fileupload-new" data-provides="fileupload">
			                                        <div class="input-append">
				                                        <div class="uneditable-input">
					                                        <i class="fa fa-file fileupload-exists"></i>
					                                        <span class="fileupload-preview"></span>
				                                        </div>
				                                        <span class="btn btn-default btn-file">
					                                        <span class="fileupload-exists">Change</span>
					                                        <span class="fileupload-new">Select file</span>
					                                        <input type="file" />
				                                        </span>
				                                        <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
			                                        </div>
		                                        </div>
	                                        </div>
	                                        <label class="col-sm-1 control-label">CPF </label>
	                                        <div class="col-sm-3">
		                                        <input id="cpf" name="cpf"
		                                               v-model="params.cpf"
		                                               type="text" value="" class="form-control"
		                                               maxlength="14"/>
	                                        </div>
                                        </div>
                                    <div class="form-group">
	                                    <label class="col-sm-1 control-label">Nome <span class="required">*</span></label>
	                                    <div class="col-sm-5">
		                                    <input type="text" name="nome" id="nome" maxlength="200" class="form-control" required title="Por favor informe um nome." />
	                                    </div>
	                                    <label class="col-sm-1 control-label">Email <span class="required">*</span></label>
	                                    <div class="col-sm-5">
		                                    <div class="input-group">
			                                    <span class="input-group-addon">
				                                    <i class="fa fa-envelope"></i>
			                                    </span>
			                                    <input type="text" name="email" maxlength="100" class="form-control"/>
		                                    </div>
	                                    </div>
                                    </div>
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">Etnia <span class="required">*</span></label>
	                                        <div class="col-sm-2">
		                                        <select class="form-control populate select2" name="ddlEtnia" id="ddlEtnia"
		                                                title="Por favor selecione um etnia."
		                                                @* asp-for="CodEtnia" asp-items="Model.ListEtnia" *@>
			                                        <option value="">Selecionar Etnia</option>
			                                        <option value="PARDOS">PARDOS</option>
			                                        <option value="BRANCOS">BRANCOS</option>
			                                        <option value="NEGROS">NEGROS</option>
			                                        <option value="INDÍGENAS">INDÍGENAS</option>
			                                        <option value="AMARELOS">AMARELOS</option>
		                                        </select>
	                                        </div>
	                                        <label class="col-sm-1 control-label">Sexo <span class="required">*</span></label>
	                                        <div class="col-sm-2">
		                                        <select class="form-control populate select2" name="ddlSexo" id="ddlSexo"
		                                                title="Por favor selecione um sexo." required>
			                                        <option value="">Selecionar Sexo</option>
			                                        <option value="M">MASCULINO</option>
			                                        <option value="F">FEMININO</option>
		                                        </select>
	                                        </div>
                                            <label class="col-sm-2 control-label">Data Nascimento <span class="required">*</span></label>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                    <input id="DtNascimento" name="DtNascimento"
                                                           required
                                                           title="Por favor informe a data de nascimento."
                                                           style="z-index: auto;"
                                                           data-plugin-datepicker data-date-format="dd/mm/yyyy" data-plugin-options='{"language": "pt-BR"}'
                                                           placeholder="__/__/____" class="form-control startdate"
                                                           class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                       @*  <div class="form-group">
                                            <label class="col-sm-2 control-label">Estado/Profissional</label>
                                            <div class="col-sm-4">
                                                <select class="form-control populate select2" name="ddlEstado" id="ddlEstado"
                                                        title="Por favor selecione um estado." required
                                                        asp-for="EstadoId" asp-items="Model.ListEstados">
                                                    <option value="">Selecionar Estado</option>
                                                </select>
                                            </div>

                                            <label class="col-sm-2 control-label">Profissional </label>
                                            <div class="col-sm-4">
                                                <select class="form-control populate select2" name="ddlProfissional" id="ddlProfissional"
                                                        title="Por favor selecione um profissional." required
                                                asp-for="CodProfissional" asp-items="Model.ListProfissional">
                                                    <option value="">Selecionar Profissional</option>
                                                </select>
                                            </div>
                                        </div> *@
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">Nome Mãe</label>
                                            <div class="col-sm-5">
                                                <input type="text" name="nomeMae" maxlength="150"class="form-control" />
                                            </div>
                                            <label class="col-sm-1 control-label">Nome Pai</label>
                                            <div class="col-sm-5">
                                                <input type="text" name="nomePai" maxlength="150"class="form-control" />
                                            </div>
                                        </div>
                                    <div class="form-group">
	                                    <label class="col-sm-1 control-label text-sm-right pt-2">Estado <span class="required">*</span></label>
	                                    <div class="col-md-2">
		                                    <select class="form-control populate select2" name="ddlEstado" id="ddlEstado"
		                                            title="Por favor informe um Estado." required
		                                            asp-for="EstadoId" asp-items="Model.ListEstados">
			                                    <option value="">Selecionar Estado</option>
		                                    </select>
	                                    </div>
	                                    <label class="col-sm-1 control-label text-sm-right pt-2">Município <span class="required">*</span></label>
	                                    <div class="col-md-3">
		                                    <select class="form-control populate select2" name="ddlMunicipio" id="ddlMunicipio"
		                                            title="Por favor informe um Municipio." required
		                                            asp-for="MunicipioId" asp-items="Model.ListMunicipios">
			                                    <option value="">Selecionar Município</option>
		                                    </select>
	                                    </div>
	                                    <label class="col-sm-2 control-label text-sm-right pt-2">Localidade <span class="required">*</span></label>
	                                    <div class="col-md-3">
		                                    <select class="form-control populate select2" name="ddlLocalidade" id="ddlLocalidade"
		                                            title="Por favor informe o localidade." required
		                                            asp-for="LocalidadeId" asp-items="Model.ListLocalidades">
			                                    <option value="">Selecionar Localidade</option>
		                                    </select>
	                                    </div>
                                    </div>
                                    <div class="form-group row">
	                                    <label class="col-sm-3 control-label text-sm-right pt-2">Profissional <span class="required">*</span></label>
	                                    <div class="col-md-4">
		                                    <select class="form-control populate select2" name="ddlLocalidade" id="ddlLocalidade"
		                                            @* title="Por favor informe o localidade." required *@
                                                        asp-for="ProfissionalId" asp-items="Model.ListProfissionals">
			                                    <option value="">Selecionar Localidade</option>
		                                    </select>
	                                    </div>
                                    </div>
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">Endereço</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="endereco" name="endereco" maxlength="200" class="form-control"/>
                                            </div>  
                                            <label class="col-sm-1 control-label">Número</label>
                                            <div class="col-sm-1">
                                                <input type="number" id="numero" name="numero" maxlength="4" class="form-control"/>
                                            </div>
                                            <label class="col-sm-1 control-label">Cep</label>
                                            <div class="col-sm-2">
                                                <input type="text" id="cep" name="cep" maxlength="9" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">Bairro </label>
	                                        <div class="col-sm-3">
		                                        <input type="bairro" name="bairro" maxlength="50" class="form-control"/>
	                                        </div>
	                                        <label class="col-lg-1 control-label text-lg-right pt-2">Telefone</label>
	                                        <div class="col-lg-3">
		                                        <div class="input-group">
			                                        <span class="input-group-addon">
				                                        <i class="fa fa-phone"></i>
			                                        </span>
			                                        <input id="numTelefone" name="numTelefone"class="form-control"
			                                               maxlength="14">
		                                        </div>
	                                        </div>
	                                        <label class="col-sm-1 control-label">Celular </label>
	                                        <div class="col-sm-3">
		                                        <div class="input-group">
			                                        <span class="input-group-addon">
				                                        <i class="fa fa-phone"></i>
			                                        </span>
			                                        <input id="numCelular" name="numCelular"class="form-control"
			                                               maxlength="14">
		                                        </div>
	                                        </div>
	                                        
                                        </div>
                                        @* <div class="form-group">
                                        <label class="col-sm-1 control-label">Facebook</label>
                                        <div class="col-sm-5">
                                        <div class="input-group">
                                        <span class="input-group-addon">
                                        <i class="fa fa-facebook"></i>
                                        </span>
                                        <input type="facebook" name="facebook" maxlength="100" class="form-control" required />
                                        </div>
                                        </div>
                                        <label class="col-sm-1 control-label">Twitter</label>
                                        <div class="col-sm-5">
                                        <div class="input-group">
                                        <span class="input-group-addon">
                                        <i class="fa fa-twitter"></i>
                                        </span>
                                        <input type="email" name="email" class="form-control" required />
                                        </div>
                                        </div>
                                        </div> *@

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label pull-left">Cadastro ativo para login?</label>
                                            <div class="col-sm-1">
                                                <div class="switch switch-sm switch-success">
                                                    <input type="checkbox" id="ativo" name="ativo" data-plugin-ios-switch checked="checked" />
                                                </div>
                                            </div>
                                            <label class="col-sm-3 control-label">Cadastro habilitado a operar?</label>
                                            <div class="col-sm-1">
                                                <div class="switch switch-sm switch-success">
                                                    <input type="checkbox" id="habilitado" name="habilitado" data-plugin-ios-switch checked="checked" />
                                                </div>
                                            </div>
                                        </div>
                                        <blockquote class="danger">
                                            <p>Deficiências</p>
                                            <small>Caso possuir alguma deficiências todos os campos devem ser obrigatórios </small>
                                        </blockquote>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Possui deficiência?</label>
                                            <div class="col-sm-10">
                                                <div class="radio-custom radio-success">
                                                    <input type="radio" id="sim" name="rdbDeficiencia" value="sim">
                                                    <label for="radioExample1">Sim</label>
                                                </div>

                                                <div class="radio-custom radio-danger">
                                                    <input type="radio" id="nao" name="rdbDeficiencia" value="nao" checked>
                                                    <label for="radioExample2">Não</label>
                                                </div>

                                            </div>
                                        </div>
                                        <div id="divDeficiencia" name="divDeficiencia">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Deficiência</label>
                                                <div class="col-sm-4">
                                                    <select class="form-control populate select2" name="ddlDeficiencia" id="ddlDeficiencia"
	                                                        style="width: 100%" title="Por favor selecione o turno."
                                                            asp-for="DeficienciaId" asp-items="Model.ListDeficiencias">
                                                        <option value="">Selecionar Deficiência</option>
	                                                </select>
                                                </div>
	                                            <div class="col-sm-1">
		                                            <a type="button" class="ml-xs btn btn-success" href='javascript:(crud.AddDeficiencia())'>
			                                            <i class="fa fa-plus"></i>
		                                            </a>
	                                            </div>
	                                            <div class="col-sm-5 pull-right">
                                                    <a data-toggle="modal" data-target="#mdDeficiencia" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Nova Deficiência </a>
	                                            </div>
                                            </div>
	                                        <div class="form-group">
                                                <input type="hidden" name="arrDeficiencias" />
		                                        <label class="col-sm-2 control-label">Adicionados</label>
		                                        <div class="col-sm-10">
                                                    <table class="table table-bordered table-striped mb-0" id="deficienciaDataTable">
				                                        <thead>
				                                        <tr>
					                                        <th>Id</th>
					                                        <th>Nome Deficiência</th>
					                                        <th>Ação</th>
				                                        </tr>
				                                        </thead>
			                                        </table>
		                                        </div>
	                                        </div>
                                        </div>

                                    </div>
                                    <footer class="panel-footer">
                                        <div class="row">
                                            <div class="col-md-9 col-md-offset-3">
                                                <button type="submit" class="btn btn-danger pull-right" style="margin-left: 5px;"><i class="fa fa-remove"></i> &nbsp;&nbsp;Cancelar</button>
                                                <button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>

                                            </div>
                                        </div>
                                    </footer>
                                </section>
	                        }
                        </div>
                    </div>
                </div>
                <div id="dependencias" class="tab-pane">
                    <div class="row">
                        <div class="col-md-12">
                            @using (@Html.BeginForm("CreateDependencia", "Aluno", FormMethod.Post, new { id = "formMatriculaAluno", @class = "form-horizontal" }))
	                        {
                                <section class="panel">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-sm-9">
                                                <div class="radio-custom radio-success">
                                                    <input type="radio" id="sim" name="rdbAutorizacao" value="sim">
                                                    <label for="radioExample1">
                                                        Autorizo o mesmo a se ausentar das dependências do
                                                        Centro Olímpico e Paralímpico sem a presença de um responsável após o
                                                        término de suas atividades.
                                                    </label>
                                                </div>

                                                <div class="radio-custom radio-danger">
                                                    <input type="radio" id="nao" name="rdbAutorizacao" value="nao">
                                                    <label for="radioExample2">
                                                        Não autorizo o mesmo a se ausentar das dependências do
                                                        Centro Olímpico e Paralímpico sem a presença de um responsável após o término
                                                        de suas atividades.
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">Doenças</label>
                                            <div class="col-sm-11">
                                                <textarea class="form-control" rows="3"
                                                          data-plugin-maxlength maxlength="400"></textarea>
                                                <p>
                                                    <code>limite</code> 400.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">Nacionalidade</label>
                                            <div class="col-sm-5">

                                                <input type="text" id="nacionalidade" name="nacionalidade" class="form-control"/>
                                            </div>
                                            <label class="col-sm-1 control-label">Naturalidade</label>
                                            <div class="col-sm-5">

                                                <input type="text" id="naturalidade" name="naturalidade" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <blockquote class="info">
                                                <strong>Dados de Escola/Escolaridade</strong>
                                            </blockquote>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Nome Escola</label>
                                            <div class="col-sm-4">
                                                <input type="text" id="escola" name="escola" class="form-control"/>
                                            </div>

                                            <label class="col-sm-2 control-label">Tipo Escola</label>
                                            <div class="col-sm-4">
                                                <select class="form-control populate select2" name="ddlTipoEscola" id="ddlTipoEscola"
                                                        style="width: 100%" title="Por favor selecione o tipo da escola.">
                                                    <option value="">Selecionar Tipo Escola</option>
                                                    <option value="">PRIVADA</option>
                                                    <option value="">PÚBLICA</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Tipo Escolaridade</label>
                                            <div class="col-sm-4">
                                                <select class="form-control populate select2" name="ddlTipoEscolaridade" id="ddlTipoEscolaridade"
                                                        style="width: 100%" title="Por favor selecione o tipo escolaridade.">
                                                    <option value="">Selecionar Tipo Escolaridade</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-1">
                                                <button type="button" class="ml-xs btn btn-primary"
                                                        data-toggle="modal" data-target="#mdTipoEscolaridade">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                            <label class="col-sm-2 control-label">Turno</label>
                                            <div class="col-sm-3">
                                                <select class="form-control populate select2" name="ddlTurno" id="ddlTurno"
                                                        style="width: 100%" title="Por favor selecione o turno.">
                                                    <option value="">Selecionar Turno</option>
                                                    <option value="1">MATUTINO</option>
                                                    <option value="2">VESPERTINO</option>
                                                    <option value="3">NOTURNO</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Série</label>
                                            <div class="col-sm-3">
                                                <input type="text" id="serie" name="serie" class="form-control"/>
                                            </div>
                                            <label class="col-sm-1 control-label">Ano </label>
                                            <div class="col-sm-2">
                                                <input type="text" id="ano" name="ano" class="form-control"/>
                                            </div>
                                            <label class="col-sm-1 control-label">Turma</label>
                                            <div class="col-sm-3">
                                                <input type="text" id="turma" name="turma" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Termo de compromisso</label>
                                            <div class="col-sm-1">
                                                <div class="radio-custom radio-primary">
                                                    <input id="termoSim" name="rdbTermo" type="radio" value="sim" required />
                                                    <label for="termoSim">Sim</label>
                                                </div>
                                                <div class="radio-custom radio-primary">
                                                    <input id="termoNao" name="rdbTermo" type="radio" value="nao" />
                                                    <label for="termoNao">Não</label>
                                                </div>
                                                <label class="error" for="porto_is"></label>
                                            </div>

                                            <label class="col-sm-3 control-label">Autorização de uso de imagem e áudio</label>
                                            <div class="col-sm-1">
                                                <div class="radio-custom radio-primary">
                                                    <input id="awesome" name="porto_is" type="radio" value="awesome" required />
                                                    <label for="awesome">Sim</label>
                                                </div>
                                                <div class="radio-custom radio-primary">
                                                    <input id="very-awesome" name="porto_is" type="radio" value="very-awesome" />
                                                    <label for="very-awesome">Não</label>
                                                </div>
                                                <label class="error" for="porto_is"></label>
                                            </div>

                                            <label class="col-sm-4 control-label">Autorização de captação e uso de indicadores de desenvolvimento e saúde</label>
                                            <div class="col-sm-1">
                                                <div class="radio-custom radio-primary">
                                                    <input id="awesome" name="porto_is" type="radio" value="awesome" required />
                                                    <label for="awesome">Sim</label>
                                                </div>
                                                <div class="radio-custom radio-primary">
                                                    <input id="very-awesome" name="porto_is" type="radio" value="very-awesome" />
                                                    <label for="very-awesome">Não</label>
                                                </div>
                                                <label class="error" for="porto_is"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="panel-footer">
                                        <div class="row">
                                            <div class="col-md-9 col-md-offset-3">
                                                <button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>

                                            </div>
                                        </div>
                                    </footer>
                                </section>
                            }
                        </div>
                    </div>
                </div>
                <div id="matriculas" class="tab-pane">
                    <div class="row">
                        <div class="col-md-12">
                        @using (@Html.BeginForm("CreateMatricula", "Aluno", FormMethod.Post, new { id = "formMatriculaAluno", @class = "form-horizontal" }))
                        {
                                <section class="panel">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Localidade</label>
                                            <div class="col-sm-4">
                                                <select class="form-control populate select2" name="ddlLocalidadeMatricula" id="ddlLocalidadeMatricula"
                                                        style="width: 100%" title="Por favor selecione a localidade."
                                                        asp-for="LocalidadeId" asp-items="Model.ListLocalidades">
                                                    <option value="">Selecionar Localidade</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-1">
                                                <button type="button" class="ml-xs btn btn-primary"
                                                        data-toggle="modal" data-target="#mdLocalidade">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Data de vencimento PAR-Q</label>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                    <input id="dtVencimentoParQ" name="dtVencimentoParQ"
                                                           required
                                                           title="Por favor informe a data de vencimento PAR-Q."
                                                           style="z-index: auto;"
                                                           data-plugin-datepicker data-date-format="dd/mm/yyyy" data-plugin-options='{"language": "pt-BR"}'
                                                           placeholder="__/__/____" class="form-control startdate"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <label class="col-sm-3 control-label">Data de vencimento atestado médico</label>
                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                    <input id="dtVencimentoAtestado" name="dtVencimentoAtestado"
                                                           required
                                                           title="Por favor informe a data de vencimento atestado médico."
                                                           style="z-index: auto;"
                                                           data-plugin-datepicker data-date-format="dd/mm/yyyy" data-plugin-options='{"language": "pt-BR"}'
                                                           placeholder="__/__/____" class="form-control startdate"
                                                           class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Nome do responsável 1</label>
                                            <div class="col-sm-4">

                                                <input type="text" name="nomeResponsavel1" name="nomeResponsavel1" 
                                                       maxlength="150"class="form-control" required />
                                            </div>
                                            <label class="col-sm-1 control-label">Parentesco</label>
                                            <div class="col-sm-2">

                                                <input type="text" name="parentesco1" name="parentesco1"
                                                       maxlength="150"class="form-control" required />
                                            </div>
                                            <label class="col-sm-1 control-label">Cpf</label>
                                            <div class="col-sm-2">
                                                <input id="cpf1" name="cpf1"
                                                v-model="params.cpf1"
                                                type="text" value="" class="form-control"
                                                maxlength="14" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Nome do responsável 2</label>
                                            <div class="col-sm-4">

                                                <input type="text" name="nomeResponsavel2" name="nomeResponsavel2" 
                                                       maxlength="150"class="form-control" />
                                            </div>
                                            <label class="col-sm-1 control-label">Parentesco</label>
                                            <div class="col-sm-2">

                                                <input type="text" name="parentesco2" name="parentesco2"
                                                       maxlength="150"class="form-control" />
                                            </div>
                                            <label class="col-sm-1 control-label">Cpf</label>
                                            <div class="col-sm-2">
                                                
                                                <input id="cpf2" name="cpf2"
                                                       v-model="params.cpf2"
                                                       type="text" value="" class="form-control"
                                                       maxlength="14" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Nome do responsável 3</label>
                                            <div class="col-sm-4">

                                                <input type="text" name="nomeResponsavel3" name="nomeResponsavel3"
                                                       maxlength="150"class="form-control" />
                                            </div>
                                            <label class="col-sm-1 control-label">Parentesco</label>
                                            <div class="col-sm-2">

                                                <input type="text" name="parentesco3" name="parentesco3"
                                                       maxlength="150"class="form-control" />
                                            </div>
                                            <label class="col-sm-1 control-label">Cpf</label>
                                            <div class="col-sm-2">
                                                
                                                <input id="cpf3" name="cpf3"
                                                       v-model="params.cpf3"
                                                       type="text" value="" class="form-control"
                                                       maxlength="14" />
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="panel-footer">
                                        <div class="row">
                                            <div class="col-md-9 col-md-offset-3">
                                                <button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>

                                            </div>
                                        </div>
                                    </footer>
                                </section>
                            }
                        </div>
                    </div>
                </div>
                <div id="ambientes" class="tab-pane">
                    <div class="row">
                        <div class="col-md-12">
	                        @using (@Html.BeginForm("CreateAmbientes", "Aluno", FormMethod.Post, new { id = "formAmbientesAluno", @class = "form-horizontal" }))
	                        {
                                <section class="panel">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Ambiente</label>
                                            <div class="col-sm-4">
                                                <select class="form-control populate select2" name="ddlAmbiente" id="ddlAmbiente"
                                                        style="width: 100%" title="Por favor selecione o turno."
                                                        asp-for="AmbienteId" asp-items="Model.ListAmbientes">
                                                    <option value="">Selecionar Ambiente</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-1">
                                                <button type="button" class="ml-xs btn btn-primary"
                                                        data-toggle="modal" data-target="#mdAmbiente">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Adicionados</label>
                                            <div class="col-sm-10">
                                                <table class="table table-bordered table-striped mb-0" id="datatable-default1">
                                                    <thead>
                                                        <tr>
                                                            <th>Esporte</th>
                                                            <th>Ações</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Natação</td>
                                                            <td class="actions">
                                                                <a data-toggle="tooltip" data-placement="top" title="Excluir" @* asp-action="Delete" *@ asp-controller="Perfil" asp-route-id="1" class="on-default remove-row" style='color:#F44336'><i class="fa fa-trash"></i></a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Futsal</td>
                                                            <td class="actions">
                                                                <a data-toggle="tooltip" data-placement="top" title="Excluir" @* asp-action="Delete" *@ asp-controller="Perfil" asp-route-id="1" class="on-default remove-row" style='color:#F44336'><i class="fa fa-trash"></i></a>
                                                            </td>
                                                        </tr>
                                                        @* @foreach (var item in Model.aaData)
                                                        {
                                                        <tr>
                                                        <td>@Html.DisplayFor(modelItem => item.NomUsuario)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.NumCpf)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.NomPerfil)</td>
                                                        <td class="actions">
                                                        <a data-toggle="tooltip" data-placement="top" title="Editar" asp-action="Edit" asp-controller="Usuario" asp-route-id="@item.CodUsuarioLogin" class="on-default edit-row" style='color: #eea236'><i class="fa fa-pencil"></i></a>
                                                        <a data-toggle="tooltip" data-placement="top" title="Excluir" asp-action="Delete" asp-controller="Usuario" asp-route-id="@item.CodUsuarioLogin" class="on-default remove-row" style='color: #d43f3a'><i class="fa fa-trash-o"></i></a>
                                                        <a data-toggle="tooltip" data-placement="top" title="Excluir" asp-action="Delete" asp-controller="Usuario" asp-route-id="@item.CodUsuarioLogin" class="on-default remove-row" style='color: #d43f3a'><i class="fa fa-trash-o"></i></a>
                                                        </td>
                                                        </tr>
                                                        } *@
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                    <footer class="panel-footer">
                                        <div class="row">
                                            <div class="col-md-9 col-md-offset-3">
                                                <button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>

                                            </div>
                                        </div>
                                    </footer>
                                </section>
                            }
                        </div>
                    </div>
                </div>
                <div id="vouchers" class="tab-pane">
                    <div class="row">
                        <div class="col-md-12">
                            @using (@Html.BeginForm("CreateVoucher", "Aluno", FormMethod.Post, new { id = "formVoucherAluno", @class = "form-horizontal" }))
                        {
                                <section class="panel">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Voucher</label>
                                            <div class="col-sm-4">
                                                <input type="text" name="voucher" name="voucher"
                                                       maxlength="100" placeholder="eg.: Descrição do voucher" class="form-control" />
                                            </div>
                                            <label class="col-sm-1 control-label">Localidade</label>
                                            <div class="col-sm-4">
                                                <select class="form-control populate select2" name="ddlLocalidadeVoucher" id="ddlLocalidadeVoucher"
                                                        style="width: 100%" title="Por favor selecione a localidade."
                                                asp-for="LocalidadeId" asp-items="Model.ListLocalidades">
                                                    <option value="">Selecionar Local</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-1">
                                                <button type="button" class="ml-xs btn btn-primary"
                                                        data-toggle="modal" data-target="#mdLocalidade">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Turma</label>
                                            <div class="col-sm-4">
                                                <input type="text" name="turma" name="turma"
                                                       maxlength="150" placeholder="eg.: Nome da turma" class="form-control" />
                                            </div>
                                            <label class="col-sm-1 control-label">Série</label>
                                            <div class="col-sm-4">
                                                <select class="form-control populate select2" name="ddlSerie" id="ddlSerie"
                                                        style="width: 100%" title="Por favor selecione a série."
                                                asp-for="SerieId" asp-items="Model.ListSeries">
                                                    <option value="">Selecionar Série</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-1">
                                                <button type="button" class="ml-xs btn btn-primary"
                                                        data-toggle="modal" data-target="#mdSerie">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                    <footer class="panel-footer">
                                        <div class="row">
                                            <div class="col-md-9 col-md-offset-3">
                                                <button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>

                                            </div>
                                        </div>
                                    </footer>
                                </section>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="mdAmbiente" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-plus"></i> &nbsp;&nbsp;<strong>Novo Ambiente</strong></h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Nome Ambiente<span class="required">*</span></label>
                    <div class="col-sm-9">

                        <input type="email" name="email" class="form-control" required />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger pull-right" style="margin-left: 5px;" data-dismiss="modal"><i class="fa fa-remove"></i> &nbsp;&nbsp;Cancelar</button>
                <button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="mdDeficiencia" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
            @using (@Html.BeginForm("CreateDeficiencia", "Aluno", FormMethod.Post, new { id = "formDadosAluno", @class = "form-horizontal" }))
			{
				<div class="modal-header">
                    <h5 class="modal-title"><i class="fa fa-plus"></i> &nbsp;&nbsp;<strong>Nova Deficiencia</strong></h5>
				</div>
				<div class="modal-body">
					<div class="form-group">
                        <label class="col-sm-3 control-label">Nome da Deficiencia<span class="required">*</span></label>
						<div class="col-sm-9">

                            <input type="text" name="deficiencia" name="deficiencia" class="form-control" required />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-danger pull-right" style="margin-left: 5px;" data-dismiss="modal"><i class="fa fa-remove"></i> &nbsp;&nbsp;Cancelar</button>
					<button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>
				</div>
			}
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="mdTipoEscolaridade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-plus"></i> &nbsp;&nbsp;<strong>Novo Tipo Escolaridade</strong></h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Tipo<span class="required">*</span></label>
                    <div class="col-sm-9">

                        <input type="text" id="tipoEscolaridade" name="tipoEscolaridade" class="form-control" required placeholder="eg.: Tipo de escolaridade" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger pull-right" style="margin-left: 5px;" data-dismiss="modal"><i class="fa fa-remove"></i> &nbsp;&nbsp;Cancelar</button>
                <button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="mdLocalidade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-plus"></i> &nbsp;&nbsp;<strong>Nova Localidade</strong></h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Localidade<span class="required">*</span></label>
                    <div class="col-sm-9">

                        <input type="text" id="localidade" name="localidade" class="form-control" required placeholder="eg.: Localidade" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger pull-right" style="margin-left: 5px;" data-dismiss="modal"><i class="fa fa-remove"></i> &nbsp;&nbsp;Cancelar</button>
                <button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="mdSerie" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-plus"></i> &nbsp;&nbsp;<strong>Nova Série</strong></h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Série<span class="required">*</span></label>
                    <div class="col-sm-9">

                        <input type="text" id="serie" name="serie" maxlength="15" class="form-control" required placeholder="eg.: Série do aluno" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger pull-right" style="margin-left: 5px;" data-dismiss="modal"><i class="fa fa-remove"></i> &nbsp;&nbsp;Cancelar</button>
                <button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>
            </div>
        </div>
    </div>
</div>

@section CssSpecificVendor {
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/datatables/media/css/dataTables.bootstrap4.css" />
    <link href="~/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
	}
@section Scripts {
    <script src="~/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
    <script src="~/assets/vendor/bootstrap-maxlength/bootstrap-maxlength.js"></script>
    <script src="~/assets/vendor/ios7-switch/ios7-switch.js"></script>
    <script src="~/assets/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/assets/vendor/select2/js/select2.js"></script>
    <script src="~/assets/vendor/jquery-mask/jquery.mask.js"></script>
    <script src="~/assets/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/vendor/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="~/js/formatTable.js"></script>
    <script src="~/js/DadosAluno.js"></script>
    <script>

        // iosSwitcher
        (function ($) {

            'use strict';

            if (typeof Switch !== 'undefined' && $.isFunction(Switch)) {

                $(function () {
                    $('[data-plugin-ios-switch]').each(function () {
                        var $this = $(this);

                        $this.themePluginIOS7Switch();
                    });
                });

            }

        }).apply(this, [jQuery]);
        
        (function ($) {

            'use strict';
            var crud = @ViewBag.CrudMessage;

            if (crud === 1) {
                new PNotify({
                    title: 'Aluno',
                    text: 'Cadastro realizado com sucesso!',
                    type: 'success'
                });
            } else if (crud === 2) {
                new PNotify({
                    title: 'Aluno',
                    text: 'Dados alterados com sucesso.',
                    type: 'warning'
                });
            } else if (crud === 3) {
                new PNotify({
                    title: 'Aluno',
                    text: 'Registro excluído com sucesso.',
                    type: 'error'
                });
            }

            var notify = @ViewBag.NotifyMessage;
            var messagem = '@ViewBag.Notify';

            if (notify === 0) {
                new PNotify({
                    title: 'Aluno',
                    text: messagem,
                    type: 'success'
                });
            } else if (notify === 1) {
                new PNotify({
                    title: 'Aluno',
                    text: messagem,
                    type: 'warning'
                });
            } else if (notify === 2) {
                new PNotify({
                    title: 'Aluno',
                    text: messagem,
                    type: 'error'
                });
            }

        }).apply(this, [jQuery]);
    </script>
	}
