@model AlunoModel

@{
    ViewData["Title"] = "Alterar Aluno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" name="EditAlunoId" value="@Model.Aluno.Id" />
<div id="vAluno">
    <div class="row">
        <div class="col-md-12">
            @using (@Html.BeginForm("Edit", "Aluno", FormMethod.Post, new { id = "formDadosAluno", @class = "form-horizontal", @enctype = "multipart/form-data" }))

            {
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                        </div>

                        <h2 class="panel-title">Alteração de Aluno</h2>
                    </header>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Foto</label>
                            <div class="col-sm-4">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="input-append">
                                        <div class="uneditable-input">
                                            <i class="fa fa-file fileupload-exists"></i>
                                            <span class="fileupload-preview"></span>
                                        </div>
                                        <span class="btn btn-default btn-file">
                                            <span class="fileupload-exists">Alterar</span>
                                            <span class="fileupload-new">Selecionar Arquivo</span>
                                            <input type="file" id="arquivo" name="arquivo" />
                                        </span>
                                        <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remover</a>
                                    </div>
                                </div>
                            </div>
                            <label class="col-sm-1 control-label">CPF </label>
                            <div class="col-sm-3">
                                <input id="cpf" name="cpf"
                                       type="text" value="@Model.Aluno.Cpf" class="form-control"
                                       maxlength="14" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Nome <span class="required">*</span></label>
                            <div class="col-sm-5">
                                <input type="text" name="nome" id="nome" maxlength="200" class="form-control" required title="Por favor informe um nome." value="@Model.Aluno.Nome" />
                            </div>
                            <label class="col-sm-1 control-label">Email <span class="required">*</span></label>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    <input type="text" name="email" maxlength="100" class="form-control" required title="Por favor informe o email." value="@Model.Aluno.Email" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Etnia <span class="required">*</span></label>
                            <div class="col-sm-2">
                                <select class="form-control populate select2" name="ddlEtnia" id="ddlEtnia" style="width:100%"
                                        title="Por favor selecione um etnia." required
                                        asp-for="EtniaId" asp-items="Model.ListEtnias">
                                    <option value="">Selecionar Etnia</option>
                                </select>
                            </div>
                            <label class="col-sm-1 control-label">Sexo <span class="required">*</span></label>
                            <div class="col-sm-2">
                                <select class="form-control populate select2" name="ddlSexo" id="ddlSexo"
                                        title="Por favor selecione um sexo." required style="width:100%">
                                    <option value="">Selecionar Sexo</option>
                                    @if (Model.Aluno.Sexo == "Masculino")
                                    {
                                        <option value="M" selected>MASCULINO</option>
                                        <option value="F">FEMININO</option>
                                    }
                                    else
                                    {
                                        <option value="M">MASCULINO</option>
                                        <option value="F" selected>FEMININO</option>
                                    }
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">Data Nascimento <span class="required">*</span></label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input id="DtNascimento" name="DtNascimento"
                                           required
                                           title="Por favor informe a data de nascimento."
                                           style="z-index: auto;" value="@Model.Aluno.DtNascimento"
                                           data-plugin-datepicker data-date-format="dd/mm/yyyy" data-plugin-options='{"language": "pt-BR"}'
                                           placeholder="__/__/____" class="form-control startdate"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label text-sm-right pt-2">Estado <span class="required">*</span></label>
                            <div class="col-md-2">
                                <select class="form-control populate select2" name="ddlEstado" id="ddlEstado"
                                        title="Por favor informe um Estado." required style="width:100%"
                                        asp-for="EstadoId" asp-items="Model.ListEstados">
                                    <option value="">Selecionar Estado</option>
                                </select>
                            </div>
                            <label class="col-sm-1 control-label text-sm-right pt-2">Município <span class="required">*</span></label>
                            <div class="col-md-3">
                                <select class="form-control populate select2" name="ddlMunicipio" id="ddlMunicipio"
                                        title="Por favor informe um Municipio." required style="width:100%"
                                        asp-for="MunicipioId" asp-items="Model.ListMunicipios">
                                    <option value="">Selecionar Município</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label text-sm-right pt-2">Localidade <span class="required">*</span></label>
                            <div class="col-md-3">
                                <select class="form-control populate select2" name="ddlLocalidade" id="ddlLocalidade"
                                        title="Por favor informe o localidade." required style="width:100%"
                                        asp-for="LocalidadeId" asp-items="Model.ListLocalidades">
                                    <option value="">Selecionar Localidade</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label text-sm-right pt-2">Fomento: <span class="required">*</span></label>
                            <div class="col-md-4">
                                <select class="form-control populate select2" name="ddlFomento" id="ddlFomento" style="width:100%"
                                        asp-for="FomentoId" asp-items="Model.ListFomentos">
                                    <option value="">Selecionar Fomento</option>
                                </select>
                            </div>
                            <label class="col-sm-1 control-label text-sm-right pt-2">Profissional <span class="required">*</span></label>
                            <div class="col-md-3">
                                <select class="form-control populate select2" name="ddlProfissionalAluno" id="ddlProfissionalAluno"
                                        title="Por favor informe o profissional." required style="width:100%"
                                        asp-for="ProfissionalId" asp-items="Model.ListProfissionais">
                                    <option value="">Selecionar Profissional</option>
                                </select>
                            </div>
                            <label class="col-sm-1 control-label">Celular <span class="required">*</span></label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                    <input id="numCelular" name="numCelular" class="form-control" value="@Model.Aluno.Celular"
                                           maxlength="15" required title="Por favor informe o celular.">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label text-sm-right pt-2">Deficiência: <span class="required">*</span></label>
                            <div class="col-md-4">
                                <select class="form-control populate select2" name="ddlDeficiencia" id="ddlDeficiencia" style="width:100%"
                                        asp-for="DeficienciaId" asp-items="Model.ListDeficiencias">
                                    <option value="">Selecionar Deficiência</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label text-sm-right pt-2">Linha de Ação <span class="required">*</span></label>
                            <div class="col-md-4">
                                <select class="form-control populate select2" name="ddlLinhaAcao" id="ddlLinhaAcao"
                                        title="Por favor informe a linha de ação." required style="width:100%"
                                        asp-for="LinhaAcaoId" asp-items="Model.ListLinhasAcoes">
                                    <option value="">Selecionar Linha de Ação</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Nome Mãe</label>
                            <div class="col-sm-5">
                                <input type="text" name="nomeMae" maxlength="150" class="form-control" value="@Model.Aluno.NomeMae" />
                            </div>
                            <label class="col-sm-1 control-label">Nome Pai</label>
                            <div class="col-sm-5">
                                <input type="text" name="nomePai" maxlength="150" class="form-control" value="@Model.Aluno.NomePai" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Endereço</label>
                            <div class="col-sm-6">
                                <input type="text" id="endereco" name="endereco" maxlength="200" class="form-control" value="@Model.Aluno.Endereco" />
                            </div>
                            <label class="col-sm-1 control-label">Número</label>
                            <div class="col-sm-1">
                                <input type="number" id="numero" name="numero" maxlength="4" class="form-control" value="@Model.Aluno.Numero" />
                            </div>
                            <label class="col-sm-1 control-label">Cep</label>
                            <div class="col-sm-2">
                                <input type="text" id="cep" name="cep" maxlength="9" class="form-control" value="@Model.Aluno.Cep" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Bairro </label>
                            <div class="col-sm-3">
                                <input type="bairro" name="bairro" maxlength="50" class="form-control" value="@Model.Aluno.Bairro" />
                            </div>
                            <label class="col-lg-1 control-label text-lg-right pt-2">Telefone</label>
                            <div class="col-lg-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                    <input id="numTelefone" name="numTelefone" class="form-control"
                                           maxlength="14" value="@Model.Aluno.Telefone">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label pull-left">Cadastro ativo para login?</label>
                            <div class="col-sm-1">
                                <div class="switch switch-sm switch-success">
                                    <input type="checkbox" id="status" name="status" data-plugin-ios-switch @(Model.Aluno.Status == true ? "checked" : "") />
                                </div>
                            </div>
                            <label class="col-sm-3 control-label">Cadastro habilitado a operar?</label>
                            <div class="col-sm-1">
                                <div class="switch switch-sm switch-success">
                                    <input type="checkbox" id="habilitado" name="habilitado" data-plugin-ios-switch @(Model.Aluno.Habilitado == true ? "checked" : "") />
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-md-9 col-md-offset-3">
                                <a href="@Url.Action("Index", "Aluno")" class="btn btn-dark pull-right" style="margin-left: 5px;margin-right: 5px;"><i class="fa fa-reply"></i> &nbsp;&nbsp;Voltar</a>
                                <button type="reset" class="btn btn-danger pull-right" style="margin-left: 5px;"><i class="fa fa-remove"></i> &nbsp;&nbsp;Cancelar</button>
                                <button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>
                            </div>
                        </div>
                    </footer>
                </section>
            }
        </div>
    </div>
</div>

@section CssSpecificVendor {
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/datatables/media/css/dataTables.bootstrap4.css" />
    <link href="~/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
    <script src="~/assets/vendor/ios7-switch/ios7-switch.js"></script>
    <script src="~/assets/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/assets/vendor/select2/js/select2.js"></script>
    <script src="~/assets/vendor/jquery-mask/jquery.mask.js"></script>
    <script src="~/assets/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/vendor/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="~/js/formatTable.js"></script>
    <script src="~/js/DadosAluno.js"></script>
    <script>

        (function ($) {

            'use strict';
            var crud = @ViewBag.CrudMessage;

            if (crud === 1) {
                new PNotify({
                    title: 'Aluno',
                    text: 'Cadastro realizado com sucesso!',
                    type: 'success'
                });
            } else if (crud === 2) {
                new PNotify({
                    title: 'Aluno',
                    text: 'Dados alterados com sucesso.',
                    type: 'warning'
                });
            } else if (crud === 3) {
                new PNotify({
                    title: 'Aluno',
                    text: 'Registro excluído com sucesso.',
                    type: 'error'
                });
            }

            var notify = @ViewBag.NotifyMessage;
            var messagem = '@ViewBag.Notify';

            if (notify === 0) {
                new PNotify({
                    title: 'Aluno',
                    text: messagem,
                    type: 'success'
                });
            } else if (notify === 1) {
                new PNotify({
                    title: 'Aluno',
                    text: messagem,
                    type: 'warning'
                });
            } else if (notify === 2) {
                new PNotify({
                    title: 'Aluno',
                    text: messagem,
                    type: 'error'
                });
            }

        }).apply(this, [jQuery]);
    </script>
}
