@model AlunoModel

@{
    ViewData["Title"] = "Alunos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="vPesquisarAluno">
    <div class="row">
        <div class="col-md-12">
            @using (@Html.BeginForm("Index", "Aluno", FormMethod.Post, new { id = "formPesquisarAluno", @class = "form-horizontal" }))
            {
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                        </div>
                        <h2 class="panel-title">Filtro de pesquisa</h2>
                    </header>
                    <div class="panel-body" id="pFiltro">
                        <label class="col-sm-2 control-label">Fomento:</label>
                        <div class="col-md-4 form-group">
                            <select class="form-control populate select2" name="ddlFomento" id="ddlFomento" style="width:100%"
                                    asp-for="FomentoId" asp-items="Model.ListFomentos">
                                <option value="">Selecionar Fomento</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Estado:</label>
                        <div class="col-md-4 form-group">
                            <select class="form-control populate select2" name="ddlEstado" id="ddlEstado" style="width:100%"
                                    asp-for="EstadoId" asp-items="Model.ListEstados">
                                <option value="">Selecionar Estado</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Municipio:</label>
                        <div class="col-md-4 form-group">
                            <select class="form-control populate select2" name="ddlMunicipio" id="ddlMunicipio" style="width:100%"
                                    asp-for="MunicipioId" asp-items="Model.ListMunicipios">
                                <option value="">Selecionar Municipio</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Localidade:</label>
                        <div class="col-md-4 form-group">
                            <select class="form-control populate select2" name="ddlLocalidade" id="ddlLocalidade" style="width:100%"
                                    asp-for="LocalidadeId" asp-items="Model.ListLocalidades">
                                <option value="">Selecionar Localidade</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Deficiencia:</label>
                        <div class="col-md-4 form-group">
                            <select class="form-control populate select2" name="ddlDeficiencia" id="ddlDeficiencia"
                                    asp-for="DeficienciaId" asp-items="Model.ListDeficiencias">
                                <option value="">Selecionar Deficiência</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Etnia:</label>
                        <div class="col-md-4 form-group">
                            <select class="form-control populate select2" name="ddlEtnia" id="ddlEtnia" style="width:100%"
                                    title="Por favor selecione um etnia."
                                    asp-for="EtniaId" asp-items="Model.ListEtnias">
                                <option value="">Selecionar Etnia</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Sexo</label>
                        <div class="col-sm-4 form-group">
                            <select class="form-control populate select2" name="ddlSexo" id="ddlSexo"
                                    title="Por favor selecione um sexo."
                                    asp-for="SexoId" asp-items="Model.ListSexos">
                                <option value="">Selecionar Sexo</option>
                            </select>
                        </div>
                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-md-9 col-md-offset-3">

                                <button type="submit" class="btn btn-primary pull-right" style="margin-left: 5px;margin-right: 5px;"><i class="fa fa-search"></i> &nbsp;&nbsp;Pesquisar</button>
                            </div>
                        </div>
                    </footer>
                </section>
            }
        </div>
    </div>

    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
            </div>

            <h2 class="panel-title">Listagem de Alunos</h2>

        </header>
        <div class="panel-body" id="pResult">
            <div class="form-group row">
                @{
                    var filtroVazio = Model.SearchFilter.GetType().GetProperties()
                    .Where(pi => pi.PropertyType == typeof(string))
                    .Select(pi => (string)pi.GetValue(Model.SearchFilter))
                    .Any(value => string.IsNullOrEmpty(value));

                    if (filtroVazio)
                    {
                        <div class="col-sm-10 pull-left">
                            <div class="alert alert-warning" style="padding-bottom: 6px;padding-top: 6px; !important">
                                <strong>Atenção!</strong> Os alunos listados são referentes ao seu <a href="" class="alert-link">Estado/Município</a> de cadastro.
                            </div>
                        </div>
                    }
                }
                <div class="col-sm-2 pull-right">
                    <a href="@Url.Action("Create", "Aluno")" id="addToTable" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Novo Aluno </a>
                </div>
            </div>
            <table class="table table-bordered table-striped mb-0" id="datatable-default">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Data de Nascimento</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Alunos)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>@Html.DisplayFor(modelItem => item.DtNascimento)</td>
                            @if (item.Status)
                            {
                                <td class="text-center"><span class="label label-success">ATIVO</span></td>
                            }
                            else
                            {
                                <td class="text-center"><span class="label label-danger">INATIVO</span></td>
                            }
                            <td class="actions">
                                <a data-toggle="tooltip" data-placement="top" title="Editar" asp-action="Edit" asp-controller="Aluno" asp-route-Id="@item.Id" class="on-default edit-row" style='color: #FF9800'><i class="fa fa-pencil"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Carteirinha"
                                   href='javascript:(crud.CarterinhaModal(@item.Id))'
                                   class="on-default edit-row" style='color: #8E24AA'>
                                    <i class="fa fa-address-card-o"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="mdCarteirinhaAluno" tabindex="-1" role="dialog" aria-labelledby="mdCarteirinhaAlunoLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mdCarteirinhaAlunoLabel">
                        <i class="fa fa-address-card-o"></i> &nbsp;&nbsp;<strong>Carteirinha Aluno</strong>
                    </h5>
                </div>
                <input type="hidden" name="carteirinhaAlunoId" :value="editDto.Id" />

                <div class="modal-body">
                    <div class="row" style="margin: 10px">
                        <div class="tabs">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#frente" data-toggle="tab">Frente</a>
                                </li>
                                <li>
                                    <a href="#verso" data-toggle="tab">Verso</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="frente" class="tab-pane active">
                                    <div class="row">
                                        <div class="col-md-8 form-group">
                                            <img src="~/assets/images/logo.png" style="width: 25%;float:right;" />
                                        </div>

                                        <div class="col-md-3 form-group pull-right">
                                            <img src="~/assets/images/img_8519.png" style="width:100%" />
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-4 form-group">
                                            <img src="~/assets/images/!logged-user.jpg" style="width: 85%;margin-left: 15px;" />
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label class="control-label">Nome</label>

                                            <input type="text" readonly="readonly" :value="editDto.Nome" class="form-control" class="form-control">
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label class="control-label">Sexo</label>

                                            <input type="text" readonly="readonly" :value="editDto.Sexo" class="form-control" class="form-control">
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label class="control-label">Matrícula</label>

                                            <input type="text" readonly="readonly" :value="editDto.Id" class="form-control" class="form-control">
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label class="control-label">Data Nascimento</label>

                                            <input type="text" readonly="readonly" :value="editDto.DtNascimento" class="form-control" class="form-control">
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label class="control-label">Email</label>

                                            <input type="text" readonly="readonly" :value="editDto.Email" class="form-control" class="form-control">
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label class="control-label">Cpf</label>

                                            <input type="text" readonly="readonly" :value="editDto.Cpf" class="form-control" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div id="verso" class="tab-pane">
                                    <div class="row">
                                        <div class="col-md-4 form-group">
                                        </div>

                                        <div class="col-md-2 form-group">
                                        </div>

                                        <div class="col-md-2 form-group">
                                            <img src="~/assets/images/logo_slogan_270224.png" style="width:50%" />
                                        </div>

                                        <div class="col-md-2 form-group">
                                            <img src="~/assets/images/logo_idecace.png" style="width:70%" />
                                        </div>

                                        <div class="col-md-2 form-group">
                                            <img src="~/assets/images/logo-sejus-horizontal.png" style="width:100%" />
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-4 form-group">
                                            <div class="qrcode" id="qr" style="width:95%"></div>
                                            @* <img src="~/assets/images/!logged-user.jpg" style="width: 85%;margin-left: 15px;"/> *@
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label class="control-label">Município / Estado</label>

                                            <input type="text" readonly="readonly" :value="editDto.MunicipioEstado" class="form-control" class="form-control">
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label class="control-label">Modalidade Esportiva</label>

                                            <input type="text" readonly="readonly" :value="editDto.Modalidade" class="form-control" class="form-control">
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label class="control-label">Unidade Escolar</label>

                                            <input type="text" readonly="readonly" :value="editDto.Id" class="form-control" class="form-control">
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label class="control-label">Controle</label>

                                            <input type="text" readonly="readonly" :value="editDto.Controle" class="form-control" class="form-control">
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <img src="~/assets/images/pagameia.jpg" style="width: 37%;float: right;" />
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <img src="~/assets/images/android-app-store-logos.png" style="width: 50%;" />
                                        </div>
                                        <p class="text-warning" style="margin-left: 25px;margin-right: 25px;float: left;">
                                            <code>
                                                Documento padronizado nacionalmente conforme a Lei 12.933/2013. Válido para todo o território nacional até março do ano seguinte.
                                            </code>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger pull-right" style="margin-left: 5px;" data-dismiss="modal"><i class="fa fa-remove"></i> &nbsp;&nbsp;Cancelar</button>
                    <button type="reset" class="btn btn-primary pull-right" style="margin-left: 5px;"><i class="fa fa-print"></i> &nbsp;&nbsp;Imprimir</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section CssSpecificVendor {
    <link rel="stylesheet" href="~/assets/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/datatables/media/css/dataTables.bootstrap4.css" />
}
@section Scripts {
    <script src="~/assets/vendor/classy-qr/jquery.classyqr.js"></script>
    <script src="~/assets/vendor/select2/js/select2.js"></script>
    <script src="~/assets/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/assets/vendor/ios7-switch/ios7-switch.js"></script>
    <script src="~/assets/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/formatTable.js"></script>
    <script src="~/js/alunos.js"></script>

    <script>

        (function ($) {

            'use strict';

            var crub = @ViewBag.CrudMessage;

            if (crub === 1) {
                new PNotify({
                    title: 'Aluno',
                    text: 'Cadastro realizado com sucesso!',
                    type: 'success'
                });
            } else if (crub === 2) {
                new PNotify({
                    title: 'Aluno',
                    text: 'Dados alterados com sucesso.',
                    type: 'warning',
                    icon: 'fa fa-pencil'
                });
            } else if (crub === 3) {
                new PNotify({
                    title: 'Aluno',
                    text: 'Registro excluído com sucesso.',
                    type: 'error',
                    icon: 'fa fa-trash-o'
                });
            }

        }).apply(this, [jQuery]);
    </script>
}

