
@{
    ViewData["Title"] = "Laudo do Aluno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
	<div class="col-md-12">
		@using (@Html.BeginForm("CreateLaudo", "Aluno", FormMethod.Post, new { id = "form", @class = "form-horizontal" }))
		{
			<section class="panel">
				<header class="panel-heading">
					<div class="panel-actions">
						<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
					</div>

					<h2 class="panel-title">Laudo do Aluno</h2>
				</header>
				<div class="panel-body">
					<div class="panel-body">
						<div class="wizard-progress wizard-progress-lg">
							<div class="steps-progress">
								<div class="progress-indicator" style="width: 0%;"></div>
							</div>
							<ul class="wizard-steps">
								<li class="active">
									<a href="@Url.Action("TalentoEsportivo", "Aluno")" data-toggle="tab"><span><i class="fa fa-trophy"></i></span>Talento Esportivo</a>
								</li>
								<li>
									<a href="@Url.Action("Vocacional", "Aluno")" data-toggle="tab"><span><i class="fa fa-star-half-o"></i></span>Vocacional</a>
								</li>
								<li>
									<a href="@Url.Action("QualidadeVida", "Aluno")" data-toggle="tab"><span><i class="fa fa-heartbeat"></i></span>Qualidade de Vida</a>
								</li>
								<li>
									<a href="@Url.Action("Saude", "Aluno")" data-toggle="tab"><span><i class="fa fa-heartbeat"></i></span>Saude</a>
								</li>
								<li>
									<a href="@Url.Action("ConsumoAlimentar", "Aluno")" data-toggle="tab"><span><i class="fa fa-shopping-cart"></i></span>Consumo Alimentar</a>
								</li>
								<li>
									<a href="@Url.Action("SaudeBucal", "Aluno")" data-toggle="tab"><span><i class="fa fa-medkit"></i></span>Saude Bucal</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		}
	</div>
</div>





<div class="row form-group">
    <div class="col-sm-4 pull-left">

        <a href="@Url.Action("TalentoEsportivo", "Aluno")" id="addToTable" class="btn btn-primary"><i class="fa fa-plus"></i> Talento Esportivo </a>
    </div>
    <div class="col-sm-4 pull-left">

        <a href="@Url.Action("Vocacional", "Aluno")" id="addToTable" class="btn btn-primary"><i class="fa fa-plus"></i> Vocacional </a>
    </div>
    <div class="col-sm-4 pull-left">

        <a href="@Url.Action("QualidadeVida", "Aluno")" id="addToTable" class="btn btn-primary"><i class="fa fa-plus"></i> Qualidade de Vida </a>
    </div>
</div>

<div class="row form-group">
    <div class="col-sm-4 pull-left">

        <a href="@Url.Action("Saude", "Aluno")" id="addToTable" class="btn btn-primary"><i class="fa fa-plus"></i> Saude </a>
    </div>
    <div class="col-sm-4 pull-left">

        <a href="" id="addToTable" class="btn btn-primary"><i class="fa fa-plus"></i> Consumo Alimentar </a>
    </div>
    <div class="col-sm-4 pull-left">

        <a href="" id="addToTable" class="btn btn-primary"><i class="fa fa-plus"></i> Saude Bucal </a>
    </div>
</div>

