
@{
    ViewData["Title"] = "Laudo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Laudo</h2>

<div class="row form-group">
    <div class="col-sm-4 pull-left">

        <a href="@Url.Action("TalentoEsportivo", "Aluno")" id="addToTable" class="btn btn-primary"><i class="fa fa-plus"></i> Talento Esportivo </a>
    </div>
    <div class="col-sm-4 pull-left">

        <a href="@Url.Action("Vocacional", "Aluno")" id="addToTable" class="btn btn-primary"><i class="fa fa-plus"></i> Vocacional </a>
    </div>
    <div class="col-sm-4 pull-left">

        <a href="@Url.Action("QualidadeVida", "Aluno")" id="addToTable" class="btn btn-primary"><i class="fa fa-plus"></i> Qualidade de Vida </a>
    </div>
</div>

<div class="row form-group">
    <div class="col-sm-4 pull-left">

        <a href="@Url.Action("Saude", "Aluno")" id="addToTable" class="btn btn-primary"><i class="fa fa-plus"></i> Saude </a>
    </div>
    <div class="col-sm-4 pull-left">

        <a href="@Url.Action("ConsumoAlimentar", "Aluno")" id="addToTable" class="btn btn-primary"><i class="fa fa-plus"></i> Consumo Alimentar </a>
    </div>
    <div class="col-sm-4 pull-left">

        <a href="@Url.Action("SaudeBucal", "Aluno")" id="addToTable" class="btn btn-primary"><i class="fa fa-plus"></i> Saude Bucal </a>
    </div>
</div>

