@model ControleMaterialModel
@{
    ViewData["Title"] = "Inclusão de Controle Material";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="vControleMaterial">
    <div class="row">
        <div class="col-md-12">
            @using (@Html.BeginForm("Create", "ControleMaterial", FormMethod.Post, new { id = "formControleMaterial", @class = "form-horizontal" }))

            {
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                        </div>
                        <h2 class="panel-title">Cadastro de Controle Material</h2>
                    </header>
                    <div class="panel-body">
	                    <div class="form-group">
		                    <label class="col-sm-2 control-label text-sm-right pt-2">Linha de Ação <span class="required">*</span></label>
		                    <div class="col-md-4">
			                    <select class="form-control populate select2" name="ddlLinhaAcao" id="ddlLinhaAcao"
			                            title="Por favor informe uma Linha." required
			                            asp-for="LinhaAcaoId" asp-items="Model.ListLinhasAcoes">
				                    <option value="">Selecionar Linha de Ação</option>
			                    </select>
		                    </div>
	                    </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-sm-right pt-2">Descrição </label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="3" maxlength="500" name="descricao" id="descricao"></textarea>
                            </div>
                        </div>
	                    <div class="form-group">
		                    <label class="col-sm-2 control-label text-sm-right pt-2">Unidade de Medida </label>
		                    <div class="col-sm-9">
			                    <input type="text" name="unidademedida" id="unidademedida" class="form-control"
			                           maxlength="150" 
			                           title="Por favor informe a unidade de medida." required />
		                    </div>
	                    </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-sm-right pt-2">Quantidade </label>
                            <div class="col-sm-9">
                                <input type="text" name="quantidade" id="quantidade" class="form-control"
                                       maxlength="150"
                                       title="Por favor informe a quantidade." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-sm-right pt-2">Saida </label>
                            <div class="col-sm-9">
                                <input type="text" name="saida" id="saida" class="form-control"
                                       maxlength="150"
                                       title="Por favor informe a saida." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-sm-right pt-2">Disponivel </label>
                            <div class="col-sm-9">
                                <input type="text" name="disponivel" id="disponivel" class="form-control"
                                       maxlength="150"
                                       title="Por favor informe a quantidade disponivel." required />
                            </div>
                        </div>
                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-md-9 col-md-offset-3">
                                <a href="@Url.Action("Index", "ControleMaterial")" class="btn btn-dark pull-right" style="margin-left: 5px;margin-right: 5px;"><i class="fa fa-reply"></i> &nbsp;&nbsp;Voltar</a>
                                <button type="reset" class="btn btn-danger pull-right" style="margin-left: 5px;"><i class="fa fa-remove"></i> &nbsp;&nbsp;Cancelar</button>
                                <button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>
                            </div>
                        </div>
                    </footer>
                </section>
            }
        </div>
    </div>
</div>
@section CssSpecificVendor {
    <link rel="stylesheet" href="~/assets/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
}
@section Scripts {
    <script src="~/assets/vendor/select2/js/select2.js"></script>
    <script src="~/assets/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/assets/vendor/jquery-mask/jquery.mask.js"></script>
    <script src="~/js/ControleMaterial.js"></script>
    <script>

        (function ($) {

            'use strict';
            var crud = @ViewBag.CrudMessage;

            if (crud === 1) {
                new PNotify({
                    title: 'ControleMaterial',
                    text: 'Cadastro realizado com sucesso!',
                    type: 'success'
                });
            } else if (crud === 2) {
                new PNotify({
                    title: 'ControleMaterial',
                    text: 'Dados alterados com sucesso.',
                    type: 'warning'
                });
            } else if (crud === 3) {
                new PNotify({
                    title: 'ControleMaterial',
                    text: 'Registro excluído com sucesso.',
                    type: 'error'
                });
            }

            var notify = @ViewBag.NotifyMessage;
            var messagem = '@ViewBag.Notify';

            if (notify === 0) {
                new PNotify({
                    title: 'ControleMaterial',
                    text: messagem,
                    type: 'success'
                });
            } else if (notify === 1) {
                new PNotify({
                    title: 'ControleMaterial',
                    text: messagem,
                    type: 'warning'
                });
            } else if (notify === 2) {
                new PNotify({
                    title: 'ControleMaterial',
                    text: messagem,
                    type: 'error'
                });
            }

        }).apply(this, [jQuery]);

    </script>
}