@model DashboardEadModel
@{
    ViewData["Title"] = "Dashboard EAD";
}
<div id="vDashboardEad">
    <div class="col-md-6 col-lg-12 col-xl-6">
        <div class="row">
            <form id="formDashboardEad" class="form-horizontal">
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                        </div>
                        <h2 class="panel-title">Filtro de pesquisa</h2>
                    </header>
                    <div class="panel-body" id="pFiltro">
                        <label class="col-sm-2 control-label">Tipo do Curso:</label>
                        <div class="col-md-4 form-group">
                            <select class="form-control populate select2" name="ddlTipocurso" id="ddlTipocurso" style="width:100%"
                                    asp-for="TipoCursoId" asp-items="Model.ListTipoCursos">
                                <option value="">Selecionar Tipo do Curso</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Curso:</label>
                        <div class="col-md-4 form-group">
                            <select class="form-control populate select2" name="ddlCurso" id="ddlCurso" style="width:100%"
                                    asp-for="CursoId" asp-items="Model.ListLocalidades">
                                <option value="">Selecionar Curso</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Professor:</label>
                        <div class="col-md-4 form-group">
                            <select class="form-control populate select2" name="ddlProfessor" id="ddlProfessor" style="width:100%"
                                    asp-for="ProfessorId" asp-items="Model.ListProfessores">
                                <option value="">Selecionar Municipio</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Localidade:</label>
                        <div class="col-md-4 form-group">
                            <select class="form-control populate select2" name="ddlLocalidade" id="ddlLocalidade" style="width:100%"
                                    asp-for="LocalidadeId" asp-items="Model.ListLocalidades">
                                <option value="">Selecionar Localidade</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Deficiencia:</label>
                        <div class="col-md-4 form-group">
                            <select class="form-control populate select2" name="ddlDeficiencia" id="ddlDeficiencia"
                                    asp-for="DeficienciaId" asp-items="Model.ListDeficiencias">
                                <option value="">Selecionar Deficiência</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Etnia:</label>
                        <div class="col-md-4 form-group">
                            <select class="form-control populate select2" name="ddlEtnia" id="ddlEtnia" style="width:100%"
                                    title="Por favor selecione um etnia."
                                    asp-for="EtniaId" asp-items="Model.ListEtnias">
                                <option value="">Selecionar Etnia</option>
                            </select>
                        </div>
                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-2 pull-right">
                                <button type="button" class="btn btn-block btn-primary pull-right" v-on:click="GetPesquisaDashboard()">
                                    <i class="fa fa-search"></i> &nbsp;&nbsp;Pesquisar
                                </button>
                            </div>
                        </div>
                    </footer>
                </section>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>

                <h2 class="panel-title">Indicadores</h2>
            </header>
            <div class="panel-body" id="pIndicadores">

                <div class="col-md-4 col-xl-12">
                    <section class="panel">
                        <div class="panel-body bg-primary" style="background-color: #673AB7 !important">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon">
                                        <i class="fa fa-bar-chart"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Avaliações DNA do Brasil</h4>
                                        <div class="info">
                                            @* <strong class="amount"><label id="avaliacoesDna">@Model.Dashboard.AvaliacoesDna</label></strong> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-4 col-xl-12">
                    <section class="panel">
                        <div class="panel-body bg-primary" style="background-color: #F44336 !important">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon">
                                        <i class="fa fa-file-text"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Laudos em andamento</h4>
                                        <div class="info">
                                            @* <strong class="amount"><label id="laudosAndamentos">@Model.Dashboard.LaudosAndamentos</label></strong> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-4 col-xl-12">
                    <section class="panel">
                        <div class="panel-body bg-primary" style="background-color: #4CAF50 !important">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon">
                                        <i class="fa fa-check-square"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Laudos Finalizados</h4>
                                        <div class="info">
                                            @* <strong class="amount"><label id="laudosFinalizados">@Model.Dashboard.LaudosFinalizados</label></strong> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-4 col-xl-12">
                    <section class="panel">
                        <div class="panel-body bg-primary" style="background-color: #3F51B5 !important">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon">
                                        <i class="fa fa-male"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Cadastros masculino</h4>
                                        <div class="info">
                                            @* <strong class="amount"><label id="cadastrosMasculinos">@Model.Dashboard.CadastrosMasculinos</label></strong> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-4 col-xl-12">
                    <section class="panel">
                        <div class="panel-body bg-primary" style="background-color: #E91E63 !important">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon">
                                        <i class="fa fa-female"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Cadastros feminino</h4>
                                        <div class="info">
                                            @* <strong class="amount"><label id="cadastrosFemininos">@Model.Dashboard.CadastrosFemininos</label></></strong> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-4 col-xl-12">
                    <section class="panel">
                        <div class="panel-body bg-primary" style="background-color: #2196F3 !important">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon">
                                        <i class="fa fa-users"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Alunos Cadastrados</h4>
                                        <div class="info">
                                            @* <strong class="amount"><label id="alunosCadastrados">@Model.Dashboard.AlunosCadastrados</label></></strong> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-4 col-xl-12">
                    <section class="panel">
                        <div class="panel-body bg-primary" style="background-color: #3F51B5 !important">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon">
                                        <i class="fa fa-id-card"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Laudos Masculino</h4>
                                        <div class="info">
                                            @* <strong class="amount"><label id="laudosMasculinos">@Model.Dashboard.LaudosMasculinos</label></strong> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-4 col-xl-12">
                    <section class="panel">
                        <div class="panel-body bg-primary" style="background-color: #E91E63 !important">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon">
                                        <i class="fa fa-id-card-o"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Laudos Feminino</h4>
                                        <div class="info">
                                            @* <strong class="amount"><label id="laudosFemininos">@Model.Dashboard.LaudosFemininos</label></strong> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>

@section CssSpecificVendor {
    <link rel="stylesheet" href="~/assets/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
}
@section Scripts {
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/variable-pie.js"></script>
    <script src="~/assets/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/assets/vendor/select2/js/select2.js"></script>
}