
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        @using (@Html.BeginForm("Create", "Perfil", FormMethod.Post, new { id = "form" }))
        {
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>

                    <h2 class="card-title">Cadastrar Perfil</h2>

                </header>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Nome do Perfil <span class="required">*</span></label>
                        <div class="col-lg-9">
                            <input type="text" name="NomPerfil" class="form-control" placeholder="eg.: Nome do Perfil" title="Por favor informe Nome do Perfil" required />

                        </div>
                    </div>
                   @*  @foreach (var modulo in Model.ListModulo)
                    {
                        <div class="form-group row">
                            <label class="col-lg-3 control-label text-lg-right pt-2 col-lg-3">Módulo @modulo.NomModulo</label>
                            <div class="col-lg-9">
                                @{
                                    string[] ListFuncionalidades = modulo.ListFuncionalidades.FirstOrDefault().NomFuncionalidade.Split(',');
                                    foreach (var funcionalidade in ListFuncionalidades)
                                    {
                                        <label class="col-sm-2 control-label text-sm-right pt-2">@funcionalidade</label>
                                        <div class="switch switch-sm switch-dark">
                                            <input type="checkbox" id="@modulo.NomModulo@funcionalidade" name="@modulo.NomModulo@funcionalidade" data-plugin-ios-switch checked="checked" />
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    } *@
                </div>
                <footer class="card-footer">
                    <div class="row justify-content-end">
                        <div class="col-sm-9">
                            <button class="btn  btn-success pull-left mr-2">Salvar &nbsp;&nbsp;<i class="fa fa-save"></i></button>
                            <button type="reset" class="btn btn-danger pull-left mr-2">Cancelar &nbsp;&nbsp;<i class="fa fa-remove"></i></button>
                            <a class="nav-link text-dark" asp-page="/Perfil/Index">Voltar &nbsp;&nbsp;<i class="fa fa-reply"></i></a>

                        </div>
                    </div>
                </footer>
            </section>
        }
    </div>
</div>
@section CssSpecificVendor {
}
@section Scripts {
    <script src="~/vendor/ios7-switch/ios7-switch.js"></script>
    <script src="~/vendor/jquery-validation/jquery.validate.js"></script>
    <script>


        // iosSwitcher
        (function ($) {

            'use strict';

            if (typeof Switch !== 'undefined' && $.isFunction(Switch)) {

                $(function () {
                    $('[data-plugin-ios-switch]').each(function () {
                        var $this = $(this);

                        $this.themePluginIOS7Switch();
                    });
                });

            }

        }).apply(this, [jQuery]);

    </script>
}

