
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <form id="form1" class="form-horizontal">
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>

                    <h2 class="card-title">Pesquisar Perfil</h2>
                </header>
                <div class="card-body">
                    <div class="form-group row">

                        <div class="col-sm-12 pull-right">

                            <a class="nav-link text-dark" asp-page="/Perfil/Create">Novo  Perfil  <i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped mb-0" id="datatable-default">
                        <thead>
                            <tr>
                                <th class="text-center">Nome Perfil</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>

                            @* @foreach (var item in Model.aaData)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.NomPerfil)</td>
                                    <td class="actions">

                                        @if (item.NomPerfil.ToUpper() != UserRoles.Administrator.ToUpper() && item.NomPerfil.ToUpper() != UserRoles.UsuarioPublico.ToUpper())
                                        {
                                            <a data-toggle="tooltip" data-placement="top" title="Editar" asp-action="Edit" asp-controller="Perfil" asp-route-id="@item.CodPerfil" class="on-default edit-row" style='color: #eea236'><i class="fa fa-pencil"></i></a>

                                            <a data-toggle="tooltip" data-placement="top" title="Excluir" asp-action="Delete" asp-controller="Perfil" asp-route-id="@item.CodPerfil" class="on-default remove-row" style='color: #d43f3a'><i class="fa fa-trash-o"></i></a>
                                        }

                                    </td>
                                </tr>
                            } *@

                        </tbody>
                    </table>
                </div>
            </section>
        </form>
    </div>
</div>
<div id="modalIcon" class="modal-block modal-header-color modal-block-danger mfp-hide">
    <section class="card">
        <header class="card-header">
            <h2 class="card-title">Exclusão</h2>
        </header>
        <div class="card-body">
            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                <div class="modal-text">
                    <p class="mb-0">Tem certeza que deseja <b>excluir</b> esse registro?</p>
                </div>
            </div>
        </div>
        <footer class="card-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-success modal-confirm">Sim &nbsp;&nbsp;<i class="fa fa-thumbs-o-up"></i></button>
                    <button class="btn btn-danger modal-dismiss">Não &nbsp;&nbsp;<i class="fa fa-thumbs-o-down"></i></button>
                </div>
            </div>
        </footer>
    </section>
</div>
@section CssSpecificVendor {
    <link rel="stylesheet" href="~/vendor/datatables/media/css/dataTables.bootstrap4.css" />
}
@section Scripts {
    <script src="~/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/formatTable.js"></script>

    <script>
        // Tooltip
        (function ($) {

            'use strict';
            var crub = @ViewBag.CrudMessage;

            if (crub === 1) {
                new PNotify({
                    title: 'Perfil',
                    text: 'Cadastro realizado com sucesso!',
                    type: 'success'
                });
            } else if (crub === 2) {
                new PNotify({
                    title: 'Perfil',
                    text: 'Dados alterados com sucesso.',
                    type: 'warning',
                    icon: 'fa fa-pencil'
                });
            } else if (crub === 3) {
                new PNotify({
                    title: 'Perfil',
                    text: 'Registro excluído com sucesso.',
                    type: 'error',
                    icon: 'fa fa-trash-o'
                });
            }

            var notify = @ViewBag.NotifyMessage;
            var messagem = '@ViewBag.Notify';

            if (notify === 0) {
                new PNotify({
                    title: 'Perfil',
                    text: messagem,
                    type: 'success'
                });
            } else if (notify === 1) {
                new PNotify({
                    title: 'Perfil',
                    text: messagem,
                    type: 'warning'
                });
            } else if (notify === 2) {
                new PNotify({
                    title: 'Perfil',
                    text: messagem,
                    type: 'error'
                });
            }

            if ($.isFunction($.fn['tooltip'])) {
                $('[data-toggle=tooltip],[rel=tooltip]').tooltip({ container: 'body' });
            }

        }).apply(this, [jQuery]);
    </script>
}

