@model WebApp.Models.CertificadoModel
@{
    ViewData["Title"] = "Listagem de Certificados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="vCertificado">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    </div>
                    <h2 class="panel-title">Listagem de Certificados</h2>
                </header>
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-sm-12 pull-right">
                            <a href="@Url.Action("Create", "Certificado")" id="addToTable" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Novo Certificado </a>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped mb-0" id="datatable-default">
                        <thead>
                        <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">Nome do Curso</th>
                            @* <th class="text-center">Imagem Frente</th>
                                <th class="text-center">Imagem Verso</th> *@
                            <th class="text-center">Html Frente</th>
                            <th class="text-center">Html Verso</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Certificados)
                        {
                            <tr>
                                <td class="text-center" style="width:20px;">@Html.DisplayFor(modelItem => item.Id)</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.TituloCurso)</td>
                                @* <td class="text-center">
                                        <img src="data:image/png;base64,@Convert.ToBase64String(item.ImagemFrente)" alt="Imagem Frente" style="width: 50px; height: 50px;" />
                                    </td>
                                    <td class="text-center">
                                        @if (item.ImagemVerso != null)
                                        {
                                            <img src="data:image/png;base64,@Convert.ToBase64String(item.ImagemVerso)" alt="Imagem Verso" style="width: 50px; height: 50px;" />
                                        }
                                    </td> *@
                                <td class="text-center">@Html.DisplayFor(modelItem => item.HtmlFrente)</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.HtmlVerso)</td>
                                @if (item.Status)
                                {
                                    <td class="text-center"><span class="label label-success">ATIVO</span></td>
                                }
                                else
                                {
                                    <td class="text-center"><span class="label label-danger">INATIVO</span></td>
                                }
                                <td class="actions text-center">
                                    <a data-toggle="tooltip" data-placement="top" title="Editar"
                                       href='@Url.Action("Edit", "Certificado", new { id = item.Id })'
                                       class="on-default edit-row" style='color: #FF9800'>
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a data-toggle="tooltip" data-placement="top" title="Excluir" href='javascript:(crud.DeleteModal(@item.Id))'
                                       class="on-default remove-row" style="Certificador: pointer;color: #F44336"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="mdDeleteCertificado" tabindex="-1" role="dialog" aria-labelledby="mdDeleteCertificadoLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mdDeleteCertificadoLabel">
                        <i class="fa fa-trash"></i> &nbsp;&nbsp;<strong>Exclusão de Certificado</strong>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="modal-icon">
                        <i class="fa fa-question-circle"></i>
                    </div>
                    <div class="modal-text">
                        <input type="hidden" id="deleteCertificadoId" />
                        <p class="mb-0">Tem certeza que deseja <b>excluir</b> esse registro?</p>
                    </div>
                    <div class="modal-wrapper">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger pull-right" style="margin-left: 5px;" data-dismiss="modal"><i class="fa fa-thumbs-o-down"></i> &nbsp;&nbsp;Não</button>
                    <a id="deleteCertificadoHref" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-thumbs-o-up"></i> &nbsp;&nbsp;Sim</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section CssSpecificVendor {
    <link rel="stylesheet" href="~/assets/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/datatables/media/css/dataTables.bootstrap4.css" />
}
@section Scripts {
    <script src="~/assets/vendor/select2/js/select2.js"></script>
    <script src="~/assets/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/assets/vendor/jquery-mask/jquery.mask.js"></script>
    <script src="~/assets/vendor/ios7-switch/ios7-switch.js"></script>
    <script src="~/assets/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/formatTable.js"></script>
    <script src="~/js/Certificado.js"></script>

    <script>
        (function ($) {
            'use strict';
            var crub = @ViewBag.CrudMessage;

            if (crub === 1) {
                new PNotify({
                    title: 'Certificado',
                    text: 'Cadastro realizado com sucesso!',
                    type: 'success'
                });
                crub = 0;
            } else if (crub === 2) {
                new PNotify({
                    title: 'Certificado',
                    text: 'Dados alterados com sucesso.',
                    type: 'warning',
                    icon: 'fa fa-pencil'
                });
                crub = 0;
            } else if (crub === 3) {
                new PNotify({
                    title: 'Certificado',
                    text: 'Registro excluído com sucesso.',
                    type: 'error',
                    icon: 'fa fa-trash-o'
                });
                crub = 0;
            }

            var notify = @ViewBag.NotifyMessage;
            var messagem = '@ViewBag.Notify';

            if (notify === 0) {
                new PNotify({
                    title: 'Certificado',
                    text: messagem,
                    type: 'success'
                });
                crub = 0;
            } else if (notify === 1) {
                new PNotify({
                    title: 'Certificado',
                    text: messagem,
                    type: 'warning'
                });
                crub = 0;
            } else if (notify === 2) {
                new PNotify({
                    title: 'Certificado',
                    text: messagem,
                    type: 'error'
                });
                crub = 0;
            }

            if ($.isFunction($.fn['tooltip'])) {
                $('[data-toggle=tooltip],[rel=tooltip]').tooltip({ container: 'body' });
            }

        }).apply(this, [jQuery]);
    </script>
}
