@model LaudoModel
@{
    ViewData["Title"] = "CreateLaudo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
	<div class="col-md-12">
		@using (@Html.BeginForm("Create", "Laudo", FormMethod.Post, new { id = "formLaudo", @class = "form-horizontal" }))
		{
			<section class="panel">
				<header class="panel-heading">
					<div class="panel-actions">
						<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
					</div>

					<h2 class="panel-title">Cadastro de Fomento</h2>
				</header>
				<div class="panel-body">

                    <div class="col-md-12">
                        <div class="tabs tabs-vertical tabs-left">
                            <ul class="nav nav-tabs col-sm-2 col-xs-4">
                                <li class="active">
									<a href="#talento-esportivo" data-toggle="tab" aria-expanded="true"><i class="fa fa-trophy"></i> Talento Esportivo</a>
                                </li>
                                <li class="">
									<a href="#vocacional" data-toggle="tab" aria-expanded="false"><i class="fa fa-star-half-o"></i> Vocacional</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="talento-esportivo" class="tab-pane active">
                                    <p>Talento Esportivo</p>
									<div class="row form-group">
										<div>
											<label class="col-sm-2 control-label"><strong>Altura (cm) </strong><span class="required">*</span></label>
											<div class="col-sm-4">
												<input type="text" class="form-control" required />
											</div>
										</div>
										<div>
											<label class="col-sm-3 control-label"><strong>Massa Corporal (kg)</strong><span class="required">*</span></label>
											<div class="col-sm-3">
												<input type="text" class="form-control" required />
											</div>
										</div>
									</div>
									<div class="row form-group">
										<div>
											<label class="col-sm-2 control-label"><strong>Preensão Manual (kg)</strong><span class="required">*</span></label>
											<div class="col-sm-4">
												<input type="text" class="form-control" required />
											</div>
										</div>
										<div>
											<label class="col-sm-3 control-label"><strong>Flexibilidade (cm)</strong><span class="required">*</span></label>
											<div class="col-sm-3">
												<input type="text" class="form-control" required />
											</div>
										</div>
									</div>
									<div class="row form-group">
										<div>
											<label class="col-sm-2 control-label"><strong>Impulsão Horizontal (cm)</strong><span class="required">*</span></label>
											<div class="col-sm-4">
												<input type="text" class="form-control" required />
											</div>
										</div>
										<div>
											<label class="col-sm-3 control-label"><strong>Teste de Velocidade 20m (seg)</strong><span class="required">*</span></label>
											<div class="col-sm-3">
												<input type="text" class="form-control" required />
											</div>
										</div>
									</div>
									<div class="row form-group">
										<div>
											<label class="col-sm-2 control-label"><strong>Aptidão Física (mLO2/min)</strong><span class="required">*</span></label>
											<div class="col-sm-4">
												<input type="text" class="form-control" required />
											</div>
										</div>
										<div>
											<label class="col-sm-3 control-label"><strong>Agilidade (seg)</strong><span class="required">*</span></label>
											<div class="col-sm-3">
												<input type="text" class="form-control" required />
											</div>
										</div>
									</div>
									<div class="row form-group">
										<div>
											<label class="col-sm-2 control-label"><strong>Impulsão Horizontal (cm)</strong><span class="required">*</span></label>
											<div class="col-sm-4">
												<input type="text" class="form-control" required />
											</div>
										</div>
										<div>
											<label class="col-sm-3 control-label"><strong>Teste de Velocidade 20m (seg)</strong><span class="required">*</span></label>
											<div class="col-sm-3">
												<input type="text" class="form-control" required />
											</div>
										</div>
									</div>
									<div class="row form-group">
										<div>
											<label class="col-sm-2 control-label"><strong>Abdominal (qtd)</strong><span class="required">*</span></label>
											<div class="col-sm-4">
												<input type="number" class="form-control" required />
											</div>
										</div>
									</div>
                                </div>
                                <div id="vocacional" class="tab-pane">
                                    <p>Vocacional</p>

                                    @for (var index = 0; index < Model.QuestionarioVocacional.Count; index++)
                                    {
                                        var item = Model.QuestionarioVocacional[index];
                                        <div class="row form-group">
                                            <div class="row form-group col-sm-12">
                                                <label class="control-label">
                                                    <strong>@index - @item.Pergunta</strong><span class="required">*</span>
                                                </label>
                                            </div>
                                            <div class="row form-group col-sm-12">
												@foreach (var resp in @item.Respostas)
                                                {
                                                    <div class="radio-custom radio-default col-sm-4">
														<input id="resp_@resp.Id" name="nomeResp_@index" type="radio" value="@resp.Id" />
														<label for="resp_@resp.Id">@resp.RespostaQuestionario</label>
                                                    </div>
                                                }@* 
                                                <div class="radio-custom radio-primary col-sm-4">
                                                    <input id="awesome" name="porto_is" type="radio" value="awesome" required/>
                                                    <label for="awesome">Não me interessa; não faço com prazer</label>
                                                </div>
                                                <div class="radio-custom radio-primary col-sm-3">
                                                    <input id="very-awesome" name="porto_is" type="radio" value="very-awesome"/>
                                                    <label for="very-awesome">Interessa-me pouco</label>
                                                </div>
                                                <div class="radio-custom radio-primary col-sm-3">
                                                    <input id="ultra-awesome" name="porto_is" type="radio" value="ultra-awesome"/>
                                                    <label for="ultra-awesome">Interessa-me suficientemente</label>
                                                </div>
                                                <div class="radio-custom radio-primary col-sm-3">
                                                    <input id="ultra-awesome" name="porto_is" type="radio" value="ultra-awesome"/>
                                                    <label for="ultra-awesome">Interessa-me bastante</label>
                                                </div>
                                                <div class="radio-custom radio-primary col-sm-4">
                                                    <input id="ultra-awesome" name="porto_is" type="radio" value="ultra-awesome"/>
                                                    <label for="ultra-awesome">Interessa-me muito; faço com muito prazer</label>
                                                </div> *@
                                            </div>
                                        </div>
                                    }

                                </div>
                                <div id="recent11" class="tab-pane">
                                    <p>Recent</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                                </div>
                                <div id="recent11" class="tab-pane">
                                    <p>Recent</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                                </div>
                                <div id="recent11" class="tab-pane">
                                    <p>Recent</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
				<footer class="panel-footer">
					<div class="row">
						<div class="col-md-9 col-md-offset-3">
							<a href="@Url.Action("Index", "Laudo")" class="btn btn-dark pull-right" style="margin-left: 5px;margin-right: 5px;"><i class="fa fa-reply"></i> &nbsp;&nbsp;Voltar</a>
							<button type="reset" class="btn btn-danger pull-right" style="margin-left: 5px;"><i class="fa fa-remove"></i> &nbsp;&nbsp;Cancelar</button>
							<button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>
						</div>
					</div>
				</footer>
			</section>
		}
	</div>
</div>


@section CssSpecificVendor {
	<link rel="stylesheet" href="~/assets/vendor/datatables/media/css/dataTables.bootstrap4.css" />
}
@section Scripts {
	<script src="~/assets/vendor/ios7-switch/ios7-switch.js"></script>
	<script src="~/assets/vendor/jquery-validation/jquery.validate.js"></script>
	<script src="~/assets/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="~/assets/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
	<script src="~/js/formatTable.js"></script>
	<script>


		// iosSwitcher
		(function ($) {

			'use strict';

			if (typeof Switch !== 'undefined' && $.isFunction(Switch)) {

				$(function () {
					$('[data-plugin-ios-switch]').each(function () {
						var $this = $(this);

						$this.themePluginIOS7Switch();
					});
				});

			}

		}).apply(this, [jQuery]);

	</script>
}




