@using System.Globalization
@model LaudoModel
@{
    ViewData["Title"] = "Laudo Detalhado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Aluno.Nome</h1>
<br />
<div id="vLaudoDetails">
    <div class="col-md-11 col-lg-12">
        <div class="col-md-12">
            <div class="panel-group" id="accordion2">
                @* Saude -----------------------------------------------------------------------------------------------------------*@
                @if (Model.Laudo.SaudeId != null)
                {
                    <div class="panel panel-accordion panel-accordion-danger">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2One">
                                    <i class="fa fa-heartbeat"></i> Saúde
                                </a>
                            </h4>
                        </div>
                        <div id="collapse2One" class="accordion-body collapse">
                            <div class="panel-body">
                                <div class="well well-sm">
                                    <div class="form-group">
                                        <div class="col-sm-2" style="width: 10% !important;">
                                            <div class="liquid-meter-wrapper liquid-meter-sm">
                                                <div class="liquid-meter">
                                                    <meter min="0" max="100" value="@Model.Desempenho.ScoreSaude" id="meterSaude"></meter>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            @{
                                                string dataFormatada = Model.Desempenho.DataSaude?.ToString("d", CultureInfo.CreateSpecificCulture("pt-BR"));
                                            }
                                            <div class="h4 text-weight-bold mb-3" style="margin-top: 30px;">
                                                Data de realização do teste em @dataFormatada
                                            </div>
                                            <p>Porcentagem de saúde</p>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <section class="panel">
                                            <div class="panel-body">
                                                <table class="table table-bordered table-striped mb-0" id="datatable-default">
                                                    <tbody>
                                                        <tr>
                                                            <th class="text" style="font-weight: bold;">Profissional</th>
                                                            <td class="text-center">@Model.Profissional.Nome</td>
                                                            <th class="text" style="font-weight: bold;">Idade</th>
                                                            <td class="text-center">@Model.Aluno.Idade</td>
                                                            <th class="text" style="font-weight: bold;">Sexo</th>
                                                            <td class="text-center">@Model.Aluno.Sexo</td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody>
                                                        <tr>
                                                            <th class="text" style="font-weight: bold;">Local</th>
                                                            <td class="text-center">@Model.Aluno.NomeLocalidade</td>
                                                            <th class="text" style="font-weight: bold;">Série</th>
                                                            <td class="text-center">Não Definido</td>
                                                            <th class="text" style="font-weight: bold;">Turma</th>
                                                            <td class="text-center">Não Definido</td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody>
                                                        <tr>
                                                            <th class="text" style="font-weight: bold; width: 20%">Altura</th>
                                                            <td class="text-center">@Model.Laudo.Estatura</td>
                                                            <th class="text" style="font-weight: bold; width: 20%">Peso</th>
                                                            <td class="text-center">@Model.Laudo.Massa</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="form-group">
                                                    @* <div class="col-sm-4">
                                                <div class="row form-group">
                                                <a data-toggle="modal" data-target="#mdDetalhamento">
                                                <section class="panel col-md-12">
                                                <div class="panel-body bg-danger-less">
                                                <div class="circular-bar circular-bar-xs m-none mt-xs mr-md pull-right">
                                                <div class="circular-bar-chart" data-percent="@Model.Laudo.ImcSaude" data-plugin-options='{ "barColor": "#546E7A", "delay": 300, "size": 50, "lineWidth": 5 }'>
                                                <strong>Average</strong>
                                                <label><span>@Model.Laudo.ImcSaude</span></label>
                                                </div>
                                                </div>
                                                <div class="h4 text-weight-bold mb-none">Indice de massa corporal (IMC)</div>
                                                <p class="text-xs mb-none">@Model.Desempenho.AvisoImc</p>
                                                </div>
                                                </section>
                                                </a>
                                                </div>
                                                </div>
                                                <div class="col-sm-4">
                                                <div class=" alert alert-info">
                                                <strong>0%</strong>
                                                <div>
                                                <label class="control-label">Acima do Peso</label>
                                                </div>
                                                </div>
                                                </div>
                                                <div class="col-sm-4">
                                                <div class=" alert alert-info">
                                                <strong>0%</strong>
                                                <div>
                                                <label class="control-label">Baixo Peso</label>
                                                </div>
                                                </div>
                                                </div> *@
                                                    <div class="col-sm-4">
                                                        <a href="#" data-toggle="modal" data-target="#mdDetalhamentoImc" style="text-decoration: none">
                                                            <div class="alert alert-info">
                                                                <strong>Indice de Massa Corporal (IMC) - @Model.Laudo.ImcSaude</strong>
                                                                <div>
                                                                    <label class="control-label">@Model.Desempenho.AvisoImc</label>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @* Talento Esportivo -----------------------------------------------------------------------------------------------------------*@
                @if (Model.Laudo.TalentoEsportivoId != null)
                {
                    <div class="panel panel-accordion panel-accordion-warning">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2Two">
                                    <i class="fa fa-trophy"></i> Talento Esportivo
                                </a>
                            </h4>
                        </div>
                        <div id="collapse2Two" class="accordion-body collapse">
                            <div class="panel-body">
                                <div class="well well-sm">
                                    <div class="form-group">
                                        <div class="col-sm-2" style="width: 10% !important;">
                                            <div class="liquid-meter-wrapper liquid-meter-sm">
                                                <div class="liquid-meter">
                                                    <meter min="0" max="100" value="@Model.Desempenho.ScoreTalentoEsportivo" id="meterTalentoEsportivo"></meter>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            @{
                                                string dataFormatada = Model.Desempenho.DataTalentoEsportivo?.ToString("d", CultureInfo.CreateSpecificCulture("pt-BR"));
                                            }
                                            <div class="h4 text-weight-bold mb-3" style="margin-top: 30px;">
                                                Data de realização do teste em @dataFormatada
                                            </div>
                                            <p>Porcentagem do talento esportivo</p>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12">

                                        <section class="panel">
                                            <div class="panel-body">
                                                <table class="table table-bordered table-striped mb-0" id="datatable-default">
                                                    <tbody>
                                                        <tr>
                                                            <th class="text" style="font-weight: bold;">Profissional</th>
                                                            <td class="text-center">@Model.Profissional.Nome</td>
                                                            <th class="text" style="font-weight: bold;">Idade</th>
                                                            <td class="text-center">@Model.Aluno.Idade</td>
                                                            <th class="text" style="font-weight: bold;">Sexo</th>
                                                            <td class="text-center">@Model.Aluno.Sexo</td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody>
                                                        <tr>
                                                            <th class="text" style="font-weight: bold;">Local</th>
                                                            <td class="text-center">@Model.Aluno.NomeLocalidade</td>
                                                            <th class="text" style="font-weight: bold;">Série</th>
                                                            <td class="text-center">Não Definido</td>
                                                            <th class="text" style="font-weight: bold;">Turma</th>
                                                            <td class="text-center">Não Definido</td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody>
                                                        <tr>
                                                            <th class="text" style="font-weight: bold;">Altura</th>
                                                            <td class="text-center">@Model.Laudo.Estatura</td>
                                                            <th class="text" style="font-weight: bold;">Peso</th>
                                                            <td class="text-center">@Model.Laudo.Massa</td>
                                                            <th class="text" style="font-weight: bold;">Modalidade</th>
                                                            <td class="text-center">@Model.Laudo.Modalidade</td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody>
                                                        <tr>
                                                            <th class="text" style="font-weight: bold;">Indice Positivo de Saúde</th>
                                                            <td class="text-center">0%</td>
                                                            <th class="text" style="font-weight: bold;">Acima do Peso</th>
                                                            <td class="text-center">0%</td>
                                                            <th class="text" style="font-weight: bold;">Baixo Peso</th>
                                                            <td class="text-center">0%</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <div class="form-group">
                                                    <div class="col-sm-4">
                                                        <a href="#" data-toggle="modal" data-target="#mdDetalhamentoImc" style="text-decoration: none">
                                                            <div class="alert alert-info">
                                                                <strong>Indice de Massa Corporal (IMC) - @Model.Laudo.ImcSaude</strong>
                                                                <div>
                                                                    <label class="control-label">@Model.Desempenho.AvisoImc</label>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <a href="#" data-toggle="modal" data-target="#mdDetalhamentoPreensaoManual" style="text-decoration: none">
                                                            <div class="alert alert-info">
                                                                <strong>Preensão Manual (kg) - @Model.TalentoEsportivo.PreensaoManual</strong>
                                                                <div>
                                                                    <label class="control-label">@Model.Desempenho.AvisoForcaMembrosSup</label>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="alert alert-info">
                                                            <strong>Impulsão horizontal (cm) - @Model.TalentoEsportivo.ImpulsaoHorizontal</strong>
                                                            <div>
                                                                <label class="control-label">@Model.Desempenho.AvisoImpulsao</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class=" alert alert-info">
                                                            <strong>Velocidade-20m (seg) - @Model.TalentoEsportivo.Velocidade</strong>
                                                            <div>
                                                                <label class="control-label">@Model.Desempenho.AvisoVelocidade</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class=" alert alert-info">
                                                            <strong>Aptidão Física-6min (m) - @Model.TalentoEsportivo.Vo2Max</strong>
                                                            <div>
                                                                <label class="control-label">@Model.Desempenho.AvisoAptidaoCardio</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class=" alert alert-info">
                                                            <strong>Agilidade (seg) - @Model.TalentoEsportivo.ShuttleRun</strong>
                                                            <div>
                                                                <label class="control-label">@Model.Desempenho.AvisoShuttleRun</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class=" alert alert-info">
                                                            <strong>Abdominal (qtd) - @Model.TalentoEsportivo.Abdominal</strong>
                                                            <div>
                                                                <label class="control-label">@Model.Desempenho.AvisoPrancha</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @* Consumo Alimentar -----------------------------------------------------------------------------------------------------------*@
                @if (Model.Laudo.ConsumoAlimentarId != null)
                {
                    <div class="panel panel-accordion panel-accordion-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2ThreeFinal">
                                    <i class="fa fa-heartbeat"></i> Consumo Alimentar
                                </a>
                            </h4>
                        </div>
                        <div id="collapse2ThreeFinal" class="accordion-body collapse">
                            <div class="panel-body">
                                <div class="well well-sm">
                                    <div class="form-group">
                                        <div class="col-sm-2" style="width: 10% !important;">
                                            <div class="liquid-meter-wrapper liquid-meter-sm">
                                                <div class="liquid-meter">
                                                    <meter min="0" max="100" value="@Model.Desempenho.ScoreConsumoAlimentar" id="meterConsumoAlimentar"></meter>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            @{
                                                string dataFormatada = Model.Desempenho.DataConsumoAlimentar?.ToString("d", CultureInfo.CreateSpecificCulture("pt-BR"));
                                            }
                                            <div class="h4 text-weight-bold mb-3" style="margin-top: 30px;">
                                                Data de realização do teste em @dataFormatada
                                            </div>
                                            <p>Porcentagem de consumo alimentar</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <section class="panel">
                                            <div class="panel-body">
                                                <table class="table table-bordered table-striped mb-0" id="datatable-default">
                                                    <tbody>
                                                        <tr>
                                                            <th class="text" style="font-weight: bold;">Profissional</th>
                                                            <td class="text-center">@Model.Profissional.Nome</td>
                                                            <th class="text" style="font-weight: bold;">Idade</th>
                                                            <td class="text-center">@Model.Aluno.Idade</td>
                                                            <th class="text" style="font-weight: bold;">Sexo</th>
                                                            <td class="text-center">@Model.Aluno.Sexo</td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody>
                                                        <tr>
                                                            <th class="text" style="font-weight: bold;">Local</th>
                                                            <td class="text-center">@Model.Aluno.NomeLocalidade</td>
                                                            <th class="text" style="font-weight: bold;">Série</th>
                                                            <td class="text-center">Não Definido</td>
                                                            <th class="text" style="font-weight: bold;">Turma</th>
                                                            <td class="text-center">Não Definido</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <div class="col-sm-4">
                                                    <a href="#" data-toggle="modal" data-target="#mdDetalhamentoConsumoAlimentar" style="text-decoration: none">
                                                        <div class=" alert alert-info">
                                                            <strong>Consumo alimentar (pts) - @Model.Desempenho.ScoreConsumoAlimentar</strong>
                                                            <div>
                                                                <label class="control-label">@Model.Desempenho.AvisoConsumoAlimentar</label>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @* Saude Bucal -----------------------------------------------------------------------------------------------------------*@
                @if (Model.Laudo.SaudeBucalId != null)
                {
                    <div class="panel panel-accordion panel-accordion-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2FourFinal">
                                    <i class="fa fa-heartbeat"></i> Saude Bucal
                                </a>
                            </h4>
                        </div>
                        <div id="collapse2FourFinal" class="accordion-body collapse">
                            <div class="panel-body">
                                <div class="well well-sm">
                                    <div class="form-group">
                                        <div class="col-sm-2" style="width: 10% !important;">
                                            <div class="liquid-meter-wrapper liquid-meter-sm">
                                                <div class="liquid-meter">
                                                    <meter min="0" max="100" value="@Model.Desempenho.ScoreSaudeBucal" id="meterSaudeBucal"></meter>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            @{
                                                string dataFormatada = Model.Desempenho.DataSaudeBucal?.ToString("d", CultureInfo.CreateSpecificCulture("pt-BR"));
                                            }
                                            <div class="h4 text-weight-bold mb-3" style="margin-top: 30px;">
                                                Data de realização do teste em @dataFormatada
                                            </div>
                                            <p>Porcentagem de saúde bucal</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <section class="panel">
                                            <div class="panel-body">
                                                <table class="table table-bordered table-striped mb-0" id="datatable-default">
                                                    <tbody>
                                                        <tr>
                                                            <th class="text" style="font-weight: bold;">Profissional</th>
                                                            <td class="text-center">@Model.Profissional.Nome</td>
                                                            <th class="text" style="font-weight: bold;">Idade</th>
                                                            <td class="text-center">@Model.Aluno.Idade</td>
                                                            <th class="text" style="font-weight: bold;">Sexo</th>
                                                            <td class="text-center">@Model.Aluno.Sexo</td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody>
                                                        <tr>
                                                            <th class="text" style="font-weight: bold;">Local</th>
                                                            <td class="text-center">@Model.Aluno.NomeLocalidade</td>
                                                            <th class="text" style="font-weight: bold;">Série</th>
                                                            <td class="text-center">Não Definido</td>
                                                            <th class="text" style="font-weight: bold;">Turma</th>
                                                            <td class="text-center">Não Definido</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <div class="col-sm-4">
                                                    <a href="#" data-toggle="modal" data-target="#mdDetalhamentoSaudeBucal" style="text-decoration: none">
                                                        <div class="alert alert-info">
                                                            <strong>Saúde bucal (pts) - @Model.Desempenho.ScoreSaudeBucal</strong>
                                                            <div>
                                                                <label class="control-label">@Model.Desempenho.AvisoSaudeBucal</label>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>

                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @* Qualidade de Vida -----------------------------------------------------------------------------------------------------------*@
                @if (Model.Laudo.QualidadeDeVidaId != null)
                {
                    <div class="panel panel-accordion panel-accordion-qv">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2Five">
                                    <i class="fa fa-heartbeat"></i> Qualidade de Vida
                                </a>
                            </h4>
                        </div>
                        <div id="collapse2Five" class="accordion-body collapse">
                            <div class="panel-body">
                                <div class="well well-sm">
                                    <div class="form-group">
                                        <div class="col-sm-2" style="width: 10% !important;">
                                            <div class="liquid-meter-wrapper liquid-meter-sm">
                                                <div class="liquid-meter">
                                                    <meter min="0" max="100" value="@Model.Desempenho.ScoreVida" id="meterQualidadeVida"></meter>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            @{
                                                string dataFormatada = Model.Desempenho.DataVida?.ToString("d", CultureInfo.CreateSpecificCulture("pt-BR"));
                                            }
                                            <div class="h4 text-weight-bold mb-3" style="margin-top: 30px;">
                                                Data de realização do teste em @dataFormatada
                                            </div>
                                            <p>Porcentagem de qualidade de vida</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <section class="panel">
                                            <div class="panel-body">
                                                <table class="table table-bordered table-striped mb-0" id="datatable-default">
                                                    <tbody>
                                                        <tr>
                                                            <th class="text" style="font-weight: bold;">Profissional</th>
                                                            <td class="text-center">@Model.Profissional.Nome</td>
                                                            <th class="text" style="font-weight: bold;">Idade</th>
                                                            <td class="text-center">@Model.Aluno.Idade</td>
                                                            <th class="text" style="font-weight: bold;">Sexo</th>
                                                            <td class="text-center">@Model.Aluno.Sexo</td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody>
                                                        <tr>
                                                            <th class="text" style="font-weight: bold;">Local</th>
                                                            <td class="text-center">@Model.Aluno.NomeLocalidade</td>
                                                            <th class="text" style="font-weight: bold;">Série</th>
                                                            <td class="text-center">Não Definido</td>
                                                            <th class="text" style="font-weight: bold;">Turma</th>
                                                            <td class="text-center">Não Definido</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <div class="row form-group">
                                                    <div class="col-sm-4">
                                                        <a href="#" data-toggle="modal" data-target="#mdDetalhementoBemEstar" style="text-decoration: none">
                                                            <div class="alert alert-info">
                                                                @{
                                                                    int percBemEstar = @Model.Desempenho.AvisoBemEstar switch
                                                                    {
                                                                        "Muito Bom" => 100,
                                                                        "Necessita Melhorar" => 50,
                                                                        _ => 0
                                                                    };
                                                                }
                                                                <strong>Qualidade de vida (pts) - @percBemEstar</strong>
                                                                <div>
                                                                    <label class="control-label">@Model.Desempenho.AvisoBemEstar</label>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <a href="#" data-toggle="modal" data-target="#mdDetalhementoAutoestima" style="text-decoration: none">
                                                            <div class="alert alert-info">
                                                                @{
                                                                    int percAutoestima = @Model.Desempenho.AvisoAutoestima switch
                                                                    {
                                                                        "Muito Bom" => 100,
                                                                        "Necessita Melhorar" => 50,
                                                                        _ => 0
                                                                    };
                                                                }
                                                                <strong>Autoestima (pts) - @percAutoestima</strong>
                                                                <div>
                                                                    <label class="control-label">@Model.Desempenho.AvisoAutoestima</label>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <a href="#" data-toggle="modal" data-target="#mdDetalhamentoFamilia" style="text-decoration: none">
                                                            <div class="alert alert-info">
                                                                @{
                                                                    int percFamilia = @Model.Desempenho.AvisoFamilia switch
                                                                    {
                                                                        "Muito Bom" => 100,
                                                                        "Necessita Melhorar" => 50,
                                                                        _ => 0
                                                                    };
                                                                }
                                                                <strong>Ambiente Familiar (pts) - @percFamilia</strong>
                                                                <div>
                                                                    <label class="control-label">@Model.Desempenho.AvisoFamilia</label>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <a href="#" data-toggle="modal" data-target="#mdDetalhementoContexto" style="text-decoration: none">
                                                            <div class="alert alert-info">
                                                                @{
                                                                    int percContexto = @Model.Desempenho.AvisoContexto switch
                                                                    {
                                                                        "Muito Bom" => 100,
                                                                        "Necessita Melhorar" => 50,
                                                                        _ => 0
                                                                    };
                                                                }
                                                                <strong>Contextos Favorecedores (pts) - @percContexto</strong>
                                                                <div>
                                                                    <label class="control-label">@Model.Desempenho.AvisoContexto</label>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @* Vocacional -----------------------------------------------------------------------------------------------------------*@
                @if (Model.Laudo.VocacionalId != null)
                {
                    <div class="panel panel-accordion panel-accordion-voc">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2Six">
                                    <i class="fa fa-heartbeat"></i> Vocacional
                                </a>
                            </h4>
                        </div>
                        <div id="collapse2Six" class="accordion-body collapse">
                            <div class="panel-body">
                                <div class="well well-sm">
                                    <div class="form-group">
                                        <div class="col-sm-2" style="width: 10% !important;">
                                            <div class="liquid-meter-wrapper liquid-meter-sm">
                                                <div class="liquid-meter">
                                                    <meter min="0" max="100" value="@Model.Desempenho.ScoreVocacional" id="meterVocacional"></meter>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            @{
                                                string dataFormatada = Model.Desempenho.DataVocacional?.ToString("d", CultureInfo.CreateSpecificCulture("pt-BR"));
                                            }
                                            <div class="h4 text-weight-bold mb-3" style="margin-top: 30px;">
                                                Data de realização do teste em @dataFormatada
                                            </div>
                                            <p>Porcentagem do vocacional</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <section class="panel">
                                            <div class="panel-body">
                                                <table class="table table-bordered table-striped mb-0" id="datatable-default">
                                                    <tbody>
                                                        <tr>
                                                            <th class="text" style="font-weight: bold;">Profissional</th>
                                                            <td class="text-center">@Model.Profissional.Nome</td>
                                                            <th class="text" style="font-weight: bold;">Idade</th>
                                                            <td class="text-center">@Model.Aluno.Idade</td>
                                                            <th class="text" style="font-weight: bold;">Sexo</th>
                                                            <td class="text-center">@Model.Aluno.Sexo</td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody>
                                                        <tr>
                                                            <th class="text" style="font-weight: bold;">Local</th>
                                                            <td class="text-center">@Model.Aluno.NomeLocalidade</td>
                                                            <th class="text" style="font-weight: bold;">Série</th>
                                                            <td class="text-center">Não Definido</td>
                                                            <th class="text" style="font-weight: bold;">Turma</th>
                                                            <td class="text-center">Não Definido</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                @* <div class="row">
                                            <div class="col-md-12">
                                            <div class="panel-group" id="accordionMeuTalento">
                                            <div class="panel panel-accordion panel-accordion-warning">
                                            <div class="panel-heading">
                                            <h4 class="panel-title">
                                            <a>
                                            Grau de Interesse
                                            <div class="pull-right"><strong>39%</strong> (117 de 300) </div>
                                            </a>
                                            </h4>
                                            </div>
                                            </div>
                                            </div>
                                            </div>
                                            </div> *@

                                                @{
                                                    var primeirosItens = Model.Vocacional.Take(3).ToList();
                                                    var ultimosItens = Model.Vocacional.Skip(Math.Max(0, Model.Vocacional.Count() - 3)).Take(3).ToList();
                                                }

                                                <div class="row form-group">
                                                    @foreach (var item in primeirosItens)
                                                    {
                                                        @if (item.Id == Model.Laudo.VocacionalId)
                                                        {
                                                            <div class="col-sm-4">
                                                                <div class=" alert alert-info" style="background-color: #cdbadb; color: #FFF">
                                                                    <strong>@item.Nome</strong>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="col-sm-4">
                                                                <div class=" alert alert-info">
                                                                    <strong>@item.Nome</strong>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>

                                                <div class="row form-group">
                                                    @foreach (var item in ultimosItens)
                                                    {
                                                        @if (item.Id == Model.Laudo.VocacionalId)
                                                        {
                                                            <div class="col-sm-4">
                                                                <div class=" alert alert-info" style="background-color: #cdbadb; color: #FFF">
                                                                    <strong>@item.Nome</strong>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="col-sm-4">
                                                                <div class=" alert alert-info">
                                                                    <strong>@item.Nome</strong>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>

                                            </div>
                                        </section>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<!-- Modal Detalhamento IMC -->
<div class="modal fade" id="mdDetalhamentoImc" tabindex="-1" role="dialog" aria-labelledby="mdDetalhamentoImcLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdDetalhamentoImcLabel">
                    <i class="fa fa-info-circle"></i> &nbsp;&nbsp;<strong>Detalhes - IMC</strong>
                </h5>
            </div>
            <div class="modal-body">
                <div class="scrollable visible-slider colored-slider" data-plugin-scrollable style="height: 350px;">
                    <div class="scrollable-content">
                        <div class="modal-text">
                            <div>
                                <label>@Model.EncaminhamentoImc.Descricao</label>
                            </div>
                        </div>
                        <div class="modal-wrapper"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Detalhamento Saúde Bucal -->
<div class="modal fade" id="mdDetalhamentoSaudeBucal" tabindex="-1" role="dialog" aria-labelledby="mdDetalhamentoSaudeBucalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdDetalhamentoSaudeBucalLabel">
                    <i class="fa fa-info-circle"></i> &nbsp;&nbsp;<strong>Detalhes - Saúde Bucal</strong>
                </h5>
            </div>
            <div class="modal-body">
                <div class="scrollable visible-slider colored-slider" data-plugin-scrollable style="height: 350px;">
                    <div class="scrollable-content">
                        <div class="modal-text">
                            <div>
                                <label>@Model.EncaminhamentoSaudeBucal.Descricao</label>
                            </div>
                        </div>
                        <div class="modal-wrapper"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Bem Estar -->
<div class="modal fade" id="mdDetalhementoBemEstar" tabindex="-1" role="dialog" aria-labelledby="mdDetalhementoBemEstarLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdDetalhementoBemEstarLabel">
                    <i class="fa fa-info-circle"></i> &nbsp;&nbsp;<strong>Detalhes - Qualidade de Vida</strong>
                </h5>
            </div>
            <div class="modal-body">
                <div class="scrollable visible-slider colored-slider" data-plugin-scrollable style="height: 350px;">
                    <div class="scrollable-content">
                        <div class="modal-text">
                            <div>
                                <label>@Model.QualidadeDeVida[0].Descricao</label>
                            </div>
                        </div>
                        <div class="modal-wrapper"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Autoestima -->
<div class="modal fade" id="mdDetalhementoAutoestima" tabindex="-1" role="dialog" aria-labelledby="mdDetalhementoAutoestimaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdDetalhementoAutoestimaLabel">
                    <i class="fa fa-info-circle"></i> &nbsp;&nbsp;<strong>Detalhes - Qualidade de Vida</strong>
                </h5>
            </div>
            <div class="modal-body">
                <div class="scrollable visible-slider colored-slider" data-plugin-scrollable style="height: 350px;">
                    <div class="scrollable-content">
                        <div class="modal-text">
                            <div>
                                <label>@Model.QualidadeDeVida[1].Descricao</label>
                            </div>
                        </div>
                        <div class="modal-wrapper"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Familia -->
<div class="modal fade" id="mdDetalhamentoFamilia" tabindex="-1" role="dialog" aria-labelledby="mdDetalhamentoFamiliaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdDetalhamentoFamiliaLabel">
                    <i class="fa fa-info-circle"></i> &nbsp;&nbsp;<strong>Detalhes - Qualidade de Vida</strong>
                </h5>
            </div>
            <div class="modal-body">
                <div class="scrollable visible-slider colored-slider" data-plugin-scrollable style="height: 350px;">
                    <div class="scrollable-content">
                        <div class="modal-text">
                            <div>
                                <label>@Model.QualidadeDeVida[2].Descricao</label>
                            </div>
                        </div>
                        <div class="modal-wrapper"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Contexto -->
<div class="modal fade" id="mdDetalhementoContexto" tabindex="-1" role="dialog" aria-labelledby="mdDetalhementoContextoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdDetalhementoContextoLabel">
                    <i class="fa fa-info-circle"></i> &nbsp;&nbsp;<strong>Detalhes - Qualidade de Vida</strong>
                </h5>
            </div>
            <div class="modal-body">
                <div class="scrollable visible-slider colored-slider" data-plugin-scrollable style="height: 350px;">
                    <div class="scrollable-content">
                        <div class="modal-text">
                            <div>
                                <label>@Model.QualidadeDeVida[3].Descricao</label>
                            </div>
                        </div>
                        <div class="modal-wrapper"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/assets/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/assets/vendor/flot/jquery.flot.js"></script>
    <script src="~/assets/vendor/flot.tooltip/flot.tooltip.js"></script>
    <script src="~/assets/vendor/flot/jquery.flot.pie.js"></script>
    <script src="~/assets/vendor/flot/jquery.flot.categories.js"></script>
    <script src="~/assets/vendor/flot/jquery.flot.resize.js"></script>
    <script src="~/assets/vendor/jquery-sparkline/jquery-sparkline.js"></script>
    <script src="~/assets/vendor/raphael/raphael.js"></script>
    <script src="~/assets/vendor/morris.js/morris.js"></script>
    <script src="~/assets/vendor/gauge/gauge.js"></script>
    <script src="~/assets/vendor/snap.svg/snap.svg.js"></script>
    <script src="~/assets/vendor/liquid-meter/liquid.meter.js"></script>
    <script src="~/js/laudo-details.js"></script>
}
