@model LaudoModel
@{
    ViewData["Title"] = "EditLaudo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        @using (@Html.BeginForm("Edit", "Laudo", FormMethod.Post, new { id = "formEditLaudo", @class = "form-horizontal" }))
        {
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    </div>

                    <h2 class="panel-title">Alteração de Laudo do Aluno</h2>
                </header>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-sm-right pt-2">Estado <span class="required">*</span></label>
                            <div class="col-md-4">
                                <select class="form-control populate select2" name="ddlEstado" id="ddlEstado"
                                        title="Por favor informe um Estado." required
                                        asp-for="EstadoId" asp-items="Model.ListEstados">
                                    <option value="">Selecionar Estado</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label text-sm-right pt-2">Município <span class="required">*</span></label>
                            <div class="col-md-4">
                                <select class="form-control populate select2" name="ddlMunicipio" id="ddlMunicipio"
                                        title="Por favor informe um Municipio." required
                                        asp-for="MunicipioId" asp-items="Model.ListMunicipios">
                                    <option value="">Selecionar Município</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-sm-right pt-2">Localidade <span class="required">*</span></label>
                            <div class="col-md-4">
                                <select class="form-control populate select2" name="ddlLocalidade" id="ddlLocalidade"
                                        title="Por favor informe a localidade." required
                                        asp-for="LocalidadeId" asp-items="Model.ListLocalidades">
                                    <option value="">Selecionar Localidade</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label text-sm-right pt-2">Aluno <span class="required">*</span></label>
                            <div class="col-md-4">
                                <select class="form-control populate select2" name="ddlAluno" id="ddlAluno"
                                        title="Por favor informe um Aluno." required
                                        asp-for="AlunoId" asp-items="Model.ListAlunos">
                                    <option value="">Selecionar Aluno</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        &nbsp;
                        &nbsp;
                    </div>
                    <div class="col-md-12">
                        <div class="tabs tabs-vertical tabs-left">
                            <ul class="nav nav-tabs col-sm-2 col-xs-4">
                                <li class="active">
                                    <a href="#saude" data-toggle="tab" aria-expanded="false">
                                        <i class="fa fa-heartbeat" style="color: #d2322d;"></i>
                                        <span style="color: #d2322d;">Saúde</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#talento-esportivo" data-toggle="tab" aria-expanded="true">
                                        <i class="fa fa-trophy" style="color: #ed9c28;"></i>
                                        <span style="color: #ed9c28;">Talento Esportivo</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#consumo-alimentar" data-toggle="tab" aria-expanded="false">
                                        <i class="fa fa-cutlery" style="color: #47a447;"></i>
                                        <span style="color: #47a447;">Consumo Alimentar</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#saude-bucal"
                                       data-toggle="tab" aria-expanded="false">
                                        <i class="fa fa-medkit" style="color: #5bc0de;"></i>
                                        <span style="color: #5bc0de;">Saúde Bucal</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#qualidade-vida" data-toggle="tab" aria-expanded="false">
                                        <i class="fa fa-star-o" style="color: #00a4a9;"></i>
                                        <span style="color: #00a4a9;">Qualidade de Vida</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#vocacional"
                                       data-toggle="tab" aria-expanded="false">
                                        <i class="fa fa-star-half-o" style="color: #a787c0;"></i>
                                        <span style="color: #a787c0;">Vocacional</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="saude" class="tab-pane active">
                                    <div class="row form-group">
                                        <div>
                                            <label class="col-sm-2 control-label"><strong>Altura (cm) </strong></label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="alturaSaude" name="alturaSaude" maxlength="3" />
                                            </div>
                                        </div>
                                        <div>
                                            <label class="col-sm-3 control-label"><strong>Massa Corporal (kg) </strong></label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="massaCorporalSaude" name="massaCorporalSaude" maxlength="3" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div>
                                            <label class="col-sm-2 control-label"><strong>Envergadura (cm)</strong></label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="envergaduraSaude" name="envergaduraSaude" maxlength="3" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="talento-esportivo" class="tab-pane">
                                    <div class="row form-group">
                                        <div>
                                            <label class="col-sm-2 control-label"><strong>Altura (cm) </strong></label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="altura" name="altura" maxlength="3" />
                                            </div>
                                        </div>
                                        <div>
                                            <label class="col-sm-3 control-label"><strong>Massa Corporal (kg)</strong></label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="massaCorporal" name="massaCorporal" maxlength="3" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div>
                                            <label class="col-sm-2 control-label"><strong>Preensão Manual (kg)</strong></label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="preensaoManual" name="preensaoManual" maxlength="3" />
                                            </div>
                                        </div>
                                        <div>
                                            <label class="col-sm-3 control-label"><strong>Flexibilidade (cm)</strong></label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="flexibilidade" name="flexibilidade" maxlength="3" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div>
                                            <label class="col-sm-2 control-label"><strong>Impulsão Horizontal (cm)</strong></label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="impulsaoHorizontal" name="impulsaoHorizontal" maxlength="3" />
                                            </div>
                                        </div>
                                        <div>
                                            <label class="col-sm-3 control-label"><strong>Teste de Velocidade 20m (seg)</strong></label>
                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                                                    <input type="text" id="testeVelocidade" name="testeVelocidade" value="00:00" data-plugin-timepicker class="form-control" data-plugin-options='{ "showMeridian": false, "explicitMode": true, "setDefaultTime": false }'>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div>
                                            <label class="col-sm-2 control-label"><strong>Aptidão Física (mLO2/min)</strong></label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="aptidaoFisica" name="aptidaoFisica" maxlength="6" />
                                            </div>
                                        </div>
                                        <div>
                                            <label class="col-sm-3 control-label"><strong>Agilidade (seg)</strong></label>
                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                                                    <input type="text" id="agilidade" name="agilidade" value="00:00" data-plugin-timepicker class="form-control" data-plugin-options='{ "showMeridian": false, "explicitMode": true , "setDefaultTime": false }'>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div>
                                            <label class="col-sm-2 control-label"><strong>Abdominal (qtd)</strong></label>
                                            <div class="col-sm-3">
                                                <div data-plugin-spinner data-plugin-options='{ "value":0, "step": 5, "min": 0, "max": 200 }'>
                                                    <div class="input-group">
                                                        <div class="spinner-buttons input-group-btn">
                                                            <button type="button" class="btn btn-default spinner-up">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                        <input type="text" class="spinner-input form-control" maxlength="3" readonly id="abdominal" name="abdominal">
                                                        <div class="spinner-buttons input-group-btn">
                                                            <button type="button" class="btn btn-default spinner-down">
                                                                <i class="fa fa-minus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p>
                                                    <code>contagem</code> de 5 em 5
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="vocacional" class="tab-pane">
                                    @for (var index = 0; index < Model.QuestionarioVocacional.Count; index++)
                                    {
                                        var item = Model.QuestionarioVocacional[index];
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="control-label">
                                                    <strong>@index - @item.Pergunta</strong>
                                                </label>
                                                <input type="hidden" id="perguntaVocacional_@item.Id" />
                                            </div>
                                            <div class="col-sm-12">
                                                @foreach (var resp in @item.Respostas)
                                                {
                                                    <div class="radio-custom radio-default col-sm-3">
                                                        <input id="respVocacional_@resp.Id" name="nomeRespVocacional_@index" type="radio" value="@resp.Id" />
                                                        <label for="respVocacional_@resp.Id">@resp.RespostaQuestionario</label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }

                                </div>
                                <div id="qualidade-vida" class="tab-pane">
                                    @for (var index = 0; index < Model.QuestionarioQualidadeVida.Count; index++)
                                    {
                                        var item = Model.QuestionarioQualidadeVida[index];
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="control-label">
                                                    <strong>@index - @item.Pergunta</strong>
                                                </label>
                                                <input type="hidden" id="perguntaQualidadeVida_@item.Id" />
                                            </div>
                                            <div class="col-sm-12">
                                                @foreach (var resp in @item.Respostas)
                                                {
                                                    <div class="radio-custom radio-default col-sm-2">
                                                        <input id="respQualidadeVida_@resp.Id" name="nomeRespQualidadeVida_@index" type="radio" value="@resp.Id" />
                                                        <label for="respQualidadeVida_@resp.Id">@resp.RespostaQuestionario</label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div id="consumo-alimentar" class="tab-pane">
                                    @for (var index = 0; index < Model.QuestionarioConsumoAlimentar.Count; index++)
                                    {
                                        var item = Model.QuestionarioConsumoAlimentar[index];
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="control-label">
                                                    <strong>@index - @item.Pergunta</strong>
                                                </label>
                                                <input type="hidden" id="perguntaConsumoAlimentar_@item.Id" />
                                            </div>
                                            <div class="col-sm-12">
                                                @foreach (var resp in @item.Respostas)
                                                {
                                                    <div class="radio-custom radio-default col-sm-3">
                                                        <input id="respConsumoAlimentar_@resp.Id" name="nomeRespConsumoAlimentar_@index" type="radio" value="@resp.Id" />
                                                        <label for="respConsumoAlimentar_@resp.Id">@resp.RespostaQuestionario</label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div id="saude-bucal" class="tab-pane">
                                    @for (var index = 0; index < Model.QuestionarioSaudeBucal.Count; index++)
                                    {
                                        var item = Model.QuestionarioSaudeBucal[index];
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="control-label">
                                                    <strong>@index - @item.Pergunta</strong>
                                                </label>
                                            </div>
                                            <div class="col-sm-12">
                                                @foreach (var resp in @item.Respostas)
                                                {
                                                    <div class="radio-custom radio-default col-sm-3">
                                                        <input id="respSaudeBucal_@resp.Id" name="nomeRespSaudeBucal_@index" type="radio" value="@resp.Id" />
                                                        <label for="respSaudeBucal_@resp.Id">@resp.RespostaQuestionario</label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-3">
                            <a href="@Url.Action("Index", "Laudo")" class="btn btn-dark pull-right" style="margin-left: 5px;margin-right: 5px;"><i class="fa fa-reply"></i> &nbsp;&nbsp;Voltar</a>
                            <button type="reset" class="btn btn-danger pull-right" style="margin-left: 5px;"><i class="fa fa-remove"></i> &nbsp;&nbsp;Cancelar</button>
                            <button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>
                        </div>
                    </div>
                </footer>
            </section>
        }
    </div>
</div>


@section CssSpecificVendor {
    <link rel="stylesheet" href="~/assets/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/datatables/media/css/dataTables.bootstrap4.css" />
    <link href="~/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css" />
}
@section Scripts {
    <script src="~/assets/vendor/ios7-switch/ios7-switch.js"></script>
    <script src="~/assets/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/assets/vendor/select2/js/select2.js"></script>
    <script src="~/assets/vendor/jquery-mask/jquery.mask.js"></script>
    <script src="~/assets/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/vendor/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="~/assets/vendor/bootstrap-timepicker/bootstrap-timepicker.js"></script>
    <script src="~/assets/vendor/fuelux/js/spinner.js"></script>
    <script src="~/js/formatTable.js"></script>
    <script src="~/js/laudo.js"></script>
}




