@model LaudoModel
@{
    ViewData["Title"] = "Alteração de Laudo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" id="vLaudo">
    <div class="col-md-12">
        @using (@Html.BeginForm("Edit", "Laudo", FormMethod.Post, new { id = "formEditLaudo", @class = "form-horizontal" }))
        {
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    </div>

                    <h2 class="panel-title">Alteração de Laudo do Aluno</h2>
                </header>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-sm-right pt-2">Estado <span class="required">*</span></label>
                            <div class="col-md-4">
                                <select class="form-control populate select2" name="ddlEstado" id="ddlEstado"
                                        title="Por favor informe um Estado." required disabled
                                        asp-for="EstadoId" asp-items="Model.ListEstados">
                                    <option value="">Selecionar Estado</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label text-sm-right pt-2">Município <span class="required">*</span></label>
                            <div class="col-md-4">
                                <select class="form-control populate select2" name="ddlMunicipio" id="ddlMunicipio"
                                        title="Por favor informe um Municipio." required disabled
                                        asp-for="MunicipioId" asp-items="Model.ListMunicipios">
                                    <option value="">Selecionar Município</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-sm-right pt-2">Localidade <span class="required">*</span></label>
                            <div class="col-md-4">
                                <select class="form-control populate select2" name="ddlLocalidade" id="ddlLocalidade"
                                        title="Por favor informe a localidade." required disabled
                                        asp-for="LocalidadeId" asp-items="Model.ListLocalidades">
                                    <option value="">Selecionar Localidade</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label text-sm-right pt-2">Profissional <span class="required">*</span></label>
                            <div class="col-md-4">
                                <select class="form-control populate select2" name="ddlProfissional" id="ddlProfissional"
                                        title="Por favor informe o profissional." required
                                        asp-for="ProfissionalId" asp-items="Model.ListProfissionais">
                                    <option value="">Selecionar Profissional</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-sm-right pt-2">Aluno <span class="required">*</span></label>
                            <div class="col-md-4">
                                <select class="form-control populate select2" name="ddlAluno" id="ddlAluno"
                                        title="Por favor informe um Aluno." required disabled
                                        asp-for="AlunoId" asp-items="Model.ListAlunos">
                                    <option value="">Selecionar Aluno</option>
                                </select>
                            </div>
                            <div id="divIdade">
                                <label class="col-sm-2 control-label text-sm-right pt-2">Idade </label>
                                <div class="col-md-4" style="padding-top: 6px;">
                                    <code style="font-size: 140%;"><span id="spanIdade">@Model.Aluno.Idade anos</span></code>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="col-md-12">
                        <div class="tabs tabs-vertical tabs-left">
                            <ul class="nav nav-tabs col-sm-2 col-xs-4">
                                <li class="active">
                                    <a href="#saude" data-toggle="tab" aria-expanded="false">
                                        <i class="fa fa-heartbeat" style="color: #d2322d;"></i>
                                        <span style="color: #d2322d;">Saúde</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#talento-esportivo" data-toggle="tab" aria-expanded="true">
                                        <i class="fa fa-trophy" style="color: #ed9c28;"></i>
                                        <span style="color: #ed9c28;">Talento Esportivo</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#consumo-alimentar" data-toggle="tab" aria-expanded="false">
                                        <i class="fa fa-cutlery" style="color: #47a447;"></i>
                                        <span style="color: #47a447;">Consumo Alimentar</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#saude-bucal"
                                       data-toggle="tab" aria-expanded="false">
                                        <i class="fa fa-medkit" style="color: #5bc0de;"></i>
                                        <span style="color: #5bc0de;">Saúde Bucal</span>
                                    </a>
                                </li>
                                @if (Model.Aluno.Idade > 12)
                                {
                                    <li class="">
                                        <a href="#qualidade-vida" data-toggle="tab" aria-expanded="false">
                                            <i class="fa fa-thumbs-up" style="color: #00a4a9;"></i>
                                            <span style="color: #00a4a9;">Qualidade de Vida</span>
                                        </a>
                                    </li>
                                }
                                @if (Model.Aluno.Idade > 14)
                                {
                                    <li class="">
                                        <a href="#vocacional"
                                           data-toggle="tab" aria-expanded="false">
                                            <i class="fa fa-star" style="color: #a787c0;"></i>
                                            <span style="color: #a787c0;">Vocacional</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                            <div class="tab-content">
                                <!-- CAMPO DE SAÚDE -->
                                <div id="saude" class="tab-pane active">
                                    <div class="row form-group">
                                        <div>
                                            <label class="col-sm-2 control-label"><strong>Altura (cm) </strong> <span class="required">*</span></label>
                                            <div class="col-sm-4">
                                                @if (Model.Saude.Altura == null)
                                                {
                                                    var altura = Model.TalentoEsportivo.Altura;
                                                    var alturaFormatada = String.Format("{0:0.##}", altura);
                                                    <input type="text" class="form-control altura-mask" id="alturaSaude" name="alturaSaude" maxlength="3"
                                                           required value="@alturaFormatada" title="Por favor informe a Altura (cm)" />
                                                }
                                                else
                                                {
                                                    var altura = Model.Saude.Altura;
                                                    var alturaFormatada = String.Format("{0:0.##}", altura);
                                                    <input type="text" class="form-control altura-mask" id="alturaSaude" name="alturaSaude" maxlength="3"
                                                           required value="@alturaFormatada" title="Por favor informe a Altura (cm)" />
                                                }

                                            </div>
                                        </div>
                                        <div>
                                            <label class="col-sm-3 control-label"><strong>Massa Corporal (kg) </strong> <span class="required">*</span></label>
                                            <div class="col-sm-3">
                                                @if (Model.Saude.Massa != null)
                                                {
                                                    var peso = Model.Saude.Massa.ToString();

                                                    <input type="text" class="form-control peso-mask" id="massaCorporalSaude" name="massaCorporalSaude" maxlength="6"
                                                           required value="@peso" title="Por favor informe a Massa Corporal (kg)" />
                                                }
                                                else
                                                {
                                                    var peso = Model.TalentoEsportivo.Peso;
                                                    peso = peso == null ? null : (decimal)peso;
                                                    <input type="text" class="form-control peso-mask" id="massaCorporalSaude" name="massaCorporalSaude" maxlength="6"
                                                           required value="@peso" title="Por favor informe a Massa Corporal (kg)" />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div>
                                            <label class="col-sm-2 control-label"><strong>Envergadura (cm)</strong> <span class="required">*</span></label>
                                            <div class="col-sm-4">

                                                @if (Model.Saude.Envergadura == null)
                                                {
                                                    var envergadura = Model.TalentoEsportivo.Envergadura;
                                                    var envergaduraFormatado = String.Format("{0:0.##}", envergadura);
                                                    <input type="text" class="form-control altura-mask" id="envergaduraSaude" name="envergaduraSaude" maxlength="3"
                                                           required value="@envergaduraFormatado" title="Por favor informe a Envergadura (cm)" />
                                                }
                                                else
                                                {
                                                    var envergadura = Model.Saude.Envergadura;
                                                    var envergaduraFormatado = String.Format("{0:0.##}", envergadura);
                                                    <input type="text" class="form-control altura-mask" id="envergaduraSaude" name="envergaduraSaude" maxlength="3"
                                                           required value="@envergaduraFormatado" title="Por favor informe a Envergadura (cm)" />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- CAMPO TALENTO ESPORTIVO -->
                                <div id="talento-esportivo" class="tab-pane">
                                    <div class="row form-group">
                                        <div>
                                            @{
                                                var alturaTalentoEsportivo = Model.TalentoEsportivo.Altura;
                                                var alturaFormatadaTalentoEsportivo = String.Format("{0:0.##}", alturaTalentoEsportivo);
                                            }
                                            <label class="col-sm-2 control-label"><strong>Altura (cm) </strong> <span class="required">*</span></label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control altura-mask" id="altura" name="altura" maxlength="3" value="@alturaFormatadaTalentoEsportivo"
                                                       required title="Favor informe Altura (cm)" />
                                            </div>
                                        </div>
                                        <div>
                                            <label class="col-sm-3 control-label"><strong>Massa Corporal (kg)</strong> <span class="required">*</span></label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control peso-mask" id="massaCorporal" name="massaCorporal" maxlength="6" value="@Model.TalentoEsportivo.Peso" required title="Favor informe Massa Corporal (kg)" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div>
                                            <label class="col-sm-2 control-label"><strong>Preensão Manual (kg)</strong> <span class="required">*</span></label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control preensao-mask" id="preensaoManual" name="preensaoManual" maxlength="6" value="@Model.TalentoEsportivo.PreensaoManual" required title="Favor informe Preensão Manual (kg)" />
                                            </div>
                                        </div>
                                        <div>
                                            @{
                                                var flexibilidadeTalentoEsportivo = Model.TalentoEsportivo.Flexibilidade;
                                                var flexibilidadeFormatadaTalentoEsportivo = String.Format("{0:0.##}", flexibilidadeTalentoEsportivo);
                                            }
                                            <label class="col-sm-3 control-label"><strong>Flexibilidade (cm)</strong> <span class="required">*</span></label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control flexibilidade-mask" id="flexibilidade" name="flexibilidade" maxlength="3" value="@flexibilidadeFormatadaTalentoEsportivo" required title="Favor informe Flexibilidade (cm)" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div>

                                            @{
                                                var impulsaoHorizontalTalentoEsportivo = Model.TalentoEsportivo.ImpulsaoHorizontal;
                                                var impulsaoHorizontalFormatadaTalentoEsportivo = String.Format("{0:0.##}", impulsaoHorizontalTalentoEsportivo);
                                            }
                                            <label class="col-sm-2 control-label"><strong>Impulsão Horizontal (cm)</strong> <span class="required">*</span></label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control altura-mask" id="impulsaoHorizontal" name="impulsaoHorizontal" maxlength="3" value="@impulsaoHorizontalFormatadaTalentoEsportivo" required title="Favor informe Impulsão Horizontal (cm)" />
                                            </div>
                                        </div>
                                        <div>
                                            <label class="col-sm-3 control-label"><strong>Teste de Velocidade 20m (seg)</strong> <span class="required">*</span></label>
                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                                                    <input type="text" class="form-control tempo-mask" id="testeVelocidade" name="testeVelocidade" maxlength="6" value="@Model.TalentoEsportivo.Velocidade" required title="Favor informe Teste de Velocidade 20m (seg)" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div>
                                            <label class="col-sm-2 control-label"><strong>Aptidão Física (mLO2/min)</strong> <span class="required">*</span></label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control aptidao-mask" id="aptidaoFisica" name="aptidaoFisica" maxlength="6" value="@Model.TalentoEsportivo.Vo2Max" required title="Favor informe Aptidão Física (mLO2/min)" />
                                            </div>
                                        </div>
                                        <div>
                                            <label class="col-sm-3 control-label"><strong>Agilidade (seg)</strong> <span class="required">*</span></label>
                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                                                    <input type="text" class="form-control tempo-mask" id="agilidade" name="agilidade" maxlength="6" value="@Model.TalentoEsportivo.ShuttleRun" required title="Favor informe Agilidade (seg)" />

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div>
                                            <label class="col-sm-2 control-label"><strong>Abdominal</strong> <span class="required">*</span></label>
                                            <div class="col-sm-3">
                                                @if (Model.TalentoEsportivo.Abdominal == 30)
                                                {
                                                    <div class="radio-custom radio-success">
                                                        <input id="abdominalSim" name="rdbAbdominal" checked type="radio" value="true" required title="Por favor selecione uma opção." />
                                                        <label for="abdominalSim">Sim</label>
                                                    </div>
                                                    <div class="radio-custom radio-danger">
                                                        <input id="abdominalNao" name="rdbAbdominal" type="radio" value="false" required title="Por favor selecione uma opção." />
                                                        <label for="abdominalNao">Não</label>
                                                    </div>
                                                }
                                                else
                                                {

                                                    <div class="radio-custom radio-success">
                                                        <input id="abdominalSim" name="rdbAbdominal" type="radio" value="true" required title="Por favor selecione uma opção." />
                                                        <label for="abdominalSim">Sim</label>
                                                    </div>
                                                    <div class="radio-custom radio-danger">
                                                        <input id="abdominalNao" name="rdbAbdominal" checked type="radio" value="false" required title="Por favor selecione uma opção." />
                                                        <label for="abdominalNao">Não</label>
                                                    </div>
                                                }

                                                <label class="error" for="rdbAbdominal"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @if (Model.Aluno.Idade >= 14)
                                {
                                    <div id="vocacional" class="tab-pane">
                                        @for (var index = 0; index < Model.ListQuestionarioVocacional.Count; index++)
                                        {
                                            var item = Model.ListQuestionarioVocacional[index];
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label class="control-label">
                                                        <strong>@item.Questao - @item.Pergunta</strong>
                                                    </label>
                                                    <input type="hidden" id="perguntaVocacional_@item.Id" />
                                                </div>
                                                <div class="col-sm-12">
                                                    @foreach (var resp in @item.Respostas)
                                                    {
                                                        <div class="radio-custom radio-danger col-sm-3">
                                                            <input id="respVocacional_@resp.Id" name="nomeRespVocacional_@index" type="radio" value="@resp.Id"
                                                            @(Model.Vocacional.Id != 0 && Model.Vocacional.Respostas.Contains(resp.Id.ToString()) ? "checked" : "") required title="Por favor selecione uma opção." />
                                                            <label for="respVocacional_@resp.Id">@resp.RespostaQuestionario</label>
                                                        </div>
                                                    }
                                                    <label class="error" for="nomeRespVocacional_@index"></label>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                                @if (Model.Aluno.Idade >= 12)
                                {
                                    <div id="qualidade-vida" class="tab-pane">
                                        @for (var index = 0; index < Model.ListQuestionarioQualidadeVida.Count; index++)
                                        {
                                            var item = Model.ListQuestionarioQualidadeVida[index];
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label class="control-label">
                                                        <strong>@item.Questao - @item.Pergunta</strong>
                                                    </label>
                                                    <input type="hidden" id="perguntaQualidadeVida_@item.Id" />
                                                </div>
                                                <div class="col-sm-12">
                                                    @foreach (var resp in @item.Respostas)
                                                    {
                                                        <div class="radio-custom radio-danger col-sm-2">
                                                            <input id="respQualidadeVida_@resp.Id" name="nomeRespQualidadeVida_@index" type="radio" value="@resp.Id"
                                                            @(Model.QualidadeVida.Id != 0 && Model.QualidadeVida.Respostas.Contains(resp.Id.ToString()) ? "checked" : "") required title="Por favor selecione uma opção." />
                                                            <label for="respQualidadeVida_@resp.Id">@resp.RespostaQuestionario</label>
                                                        </div>
                                                    }
                                                    <label class="error" for="nomeRespQualidadeVida_@index"></label>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }

                                <div id="consumo-alimentar" class="tab-pane">
                                    @for (var index = 0; index < Model.ListQuestionarioConsumoAlimentar.Count; index++)
                                    {
                                        var item = Model.ListQuestionarioConsumoAlimentar[index];
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="control-label">
                                                    <strong>@item.Questao - @item.Pergunta</strong>
                                                </label>
                                                <input type="hidden" id="perguntaConsumoAlimentar_@item.Id" />
                                            </div>
                                            <div class="col-sm-12">
                                                @foreach (var resp in @item.Respostas)
                                                {
                                                    <div class="radio-custom radio-danger col-sm-3">
                                                        <input id="respConsumoAlimentar_@resp.Id" name="nomeRespConsumoAlimentar_@index" type="radio" value="@resp.Id"
                                                        @(Model.ConsumoAlimentar.Id != 0 && Model.ConsumoAlimentar.Respostas.Contains(resp.Id.ToString()) ? "checked" : "") required title="Por favor selecione uma opção." />
                                                        <label for="respConsumoAlimentar_@resp.Id">@resp.RespostaQuestionario</label>
                                                    </div>
                                                }
                                                <label class="error" for="nomeRespConsumoAlimentar_@index"></label>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div id="saude-bucal" class="tab-pane">
                                    @for (var index = 0; index < Model.ListQuestionarioSaudeBucal.Count; index++)
                                    {
                                        var item = Model.ListQuestionarioSaudeBucal[index];
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="control-label">
                                                    <strong>@item.Questao - @item.Pergunta</strong>
                                                </label>
                                            </div>
                                            <div class="col-sm-12">
                                                @foreach (var resp in @item.Respostas)
                                                {
                                                    <div class="radio-custom radio-danger col-sm-3">
                                                        <input id="respSaudeBucal_@resp.Id" name="nomeRespSaudeBucal_@index" type="radio" value="@resp.Id"
                                                        @(Model.SaudeBucal.Id != 0 && Model.SaudeBucal.Respostas.Contains(resp.Id.ToString()) ? "checked" : "") required title="Por favor selecione uma opção." />
                                                        <label for="respSaudeBucal_@resp.Id">@resp.RespostaQuestionario</label>
                                                    </div>
                                                }
                                                <label class="error" for="nomeRespSaudeBucal_@index"></label>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-3">
                            <a href="@Url.Action("Index", "Laudo")" class="btn btn-dark pull-right" style="margin-left: 5px;margin-right: 5px;"><i class="fa fa-reply"></i> &nbsp;&nbsp;Voltar</a>
                            <button type="reset" class="btn btn-danger pull-right" style="margin-left: 5px;"><i class="fa fa-remove"></i> &nbsp;&nbsp;Cancelar</button>
                            <button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>
                        </div>
                    </div>
                </footer>
            </section>
        }
    </div>
</div>


@section CssSpecificVendor {
    <link rel="stylesheet" href="~/assets/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/datatables/media/css/dataTables.bootstrap4.css" />
    <link href="~/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css" />
}
@section Scripts {
    <script src="~/assets/vendor/ios7-switch/ios7-switch.js"></script>
    <script src="~/assets/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/assets/vendor/select2/js/select2.js"></script>
    <script src="~/assets/vendor/jquery-mask/jquery.mask.js"></script>
    <script src="~/assets/vendor/jquery-mask/jquery.maskMoney.js"></script>
    <script src="~/assets/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/vendor/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="~/assets/vendor/bootstrap-timepicker/bootstrap-timepicker.js"></script>
    <script src="~/assets/vendor/fuelux/js/spinner.js"></script>
    <script src="~/js/formatTable.js"></script>
    <script src="~/js/laudo.js"></script>
    <script>

        (function ($) {

            'use strict';
            var crud = @ViewBag.CrudMessage;

            if (crud === 1) {
                new PNotify({
                    title: 'Laudo',
                    text: 'Cadastro realizado com sucesso!',
                    type: 'success'
                });
            } else if (crud === 2) {
                new PNotify({
                    title: 'Laudo',
                    text: 'Dados alterados com sucesso.',
                    type: 'warning'
                });
            } else if (crud === 3) {
                new PNotify({
                    title: 'Laudo',
                    text: 'Registro excluído com sucesso.',
                    type: 'error'
                });
            }

            var notify = @ViewBag.NotifyMessage;
            var messagem = '@ViewBag.Notify';

            if (notify === 0) {
                new PNotify({
                    title: 'Laudo',
                    text: messagem,
                    type: 'success'
                });
            } else if (notify === 1) {
                new PNotify({
                    title: 'Laudo',
                    text: messagem,
                    type: 'warning'
                });
            } else if (notify === 2) {
                new PNotify({
                    title: 'Laudo',
                    text: messagem,
                    type: 'error'
                });
            }

        }).apply(this, [jQuery]);
    </script>
}




