@model LaudoModel
@{
	ViewData["Title"] = "Listagem de Laudos";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="formLaudo">
	<div class="row">
		<div class="col-lg-12">
			<section class="panel">
				<header class="panel-heading">
					<div class="panel-actions">
						<a href="#" class="card-action card-action-toggle" data-card-toggle></a>
					</div>
					<h2 class="panel-title">Listagem de Laudos</h2>
				</header>
				<div class="panel-body">
					<div class="form-group row">
						<div class="col-sm-12 pull-right">
							<a href="@Url.Action("Create", "Laudo")" id="addToTable" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Novo Laudo </a>
						</div>
					</div>
					<table class="table table-bordered table-striped mb-0" id="datatable-default">
						<thead>
							<tr>
                                <th class="text-center">Id</th>
                                <th class="text-center">Nome Aluno</th>
                                <th class="text-center">Município / Uf</th>
                                <th class="text-center">Localidade</th>
                                <th class="text-center">Encaminhamento</th>
                                <th class="text-center">Status do Laudo</th>
								<th class="text-center">Ações</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.Laudos)
							{
								<tr>
									<td class="text-center">@Html.DisplayFor(modelItem => item.Id)</td>
									<td class="text-center">@Html.DisplayFor(modelItem => item.NomeAluno)</td>
									<td class="text-center">@Html.DisplayFor(modelItem => item.MunicipioEstado)</td>
									<td class="text-center">@Html.DisplayFor(modelItem => item.Localidade)</td>
									<td class="text-center">@Html.DisplayFor(modelItem => item.Encaminhamento)</td>
									@if (item.StatusLaudo == "F")
                                    {
                                        <td class="text-center"><span class="label label-success">FINALIZADO</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-center"><span class="label label-warning">EM ANDAMENTO</span></td>
                                    }
									<td class="actions text-center">
										<a data-toggle="tooltip" data-placement="top" title="Editar"
                                           href='javascript:(crud.EditModal(@item.AlunoId))'
										   class="on-default edit-row" style='color: #FF9800'>
											<i class="fa fa-pencil"></i>
										</a>
                                        <a data-toggle="tooltip" data-placement="top" title="Detalhar" asp-action="Details" asp-controller="Laudo" asp-route-id="@item.AlunoId" class="on-default edit-row" style='color: #eea236'><i class="fa fa-address-card"></i></a>
                                        <a data-toggle="tooltip" data-placement="top" title="Avaliação Completa" asp-action="Details" asp-controller="Laudo" asp-route-id="@item.AlunoId" class="on-default edit-row" style='color: #d2322d'><i class="fa fa-bar-chart"></i></a>
                                        <a data-toggle="tooltip" data-placement="top" title="Relatório" asp-action="Details" asp-controller="Laudo" asp-route-id="@item.AlunoId" class="on-default edit-row" style='color: #47a447'><i class="fa fa-file-text"></i></a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</section>
		</div>
	</div>
</div>

@section CssSpecificVendor {
	<link rel="stylesheet" href="~/assets/vendor/datatables/media/css/dataTables.bootstrap4.css" />
}
@section Scripts {
	<script src="~/assets/vendor/jquery-validation/jquery.validate.js"></script>
	<script src="~/assets/vendor/ios7-switch/ios7-switch.js"></script>
	<script src="~/assets/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="~/assets/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
	<script src="~/js/formatTable.js"></script>
	<script src="~/js/Laudo.js"></script>

	<script>

		(function ($) {

			'use strict';
			var crub = @ViewBag.CrudMessage;

			if (crub === 1) {
				new PNotify({
					title: 'Laudo',
					text: 'Cadastro realizado com sucesso!',
					type: 'success'
				});
				crub = 0;
			} else if (crub === 2) {
				new PNotify({
					title: 'Laudo',
					text: 'Dados alterados com sucesso.',
					type: 'warning',
					icon: 'fa fa-pencil'
				});
				crub = 0;
			} else if (crub === 3) {
				new PNotify({
					title: 'Laudo',
					text: 'Registro excluído com sucesso.',
					type: 'error',
					icon: 'fa fa-trash-o'
				});
				crub = 0;
			}


			var notify = @ViewBag.NotifyMessage;
			var messagem = '@ViewBag.Notify';

			if (notify === 0) {
				new PNotify({
					title: 'Laudo',
					text: messagem,
					type: 'success'
				});
				crub = 0;
			} else if (notify === 1) {
				new PNotify({
					title: 'Laudo',
					text: messagem,
					type: 'warning'
				});
				crub = 0;
			} else if (notify === 2) {
				new PNotify({
					title: 'Laudo',
					text: messagem,
					type: 'error'
				});
				crub = 0;
			}

			if ($.isFunction($.fn['tooltip'])) {
				$('[data-toggle=tooltip],[rel=tooltip]').tooltip({ container: 'body' });
			}

		}).apply(this, [jQuery]);
	</script>
}



